.isic-form-page.isic-apply-metadata-container
  h2.isic-page-title Apply metadata

  .isic-form-container
    .isic-form-group
      include datasetInfoWidget
    .isic-form-group
      h3 Select metadata file
      p.
        Select the metadata file to apply:
      #isic-apply-metadata-select-file-container.form-group
      button#isic-apply-metadata-download-button.btn.btn-default.btn-md(disabled)
        i.icon-download
        |  Download
    .isic-form-group
      h3 Validate metadata
      p.
        This section displays any problems with the metadata.
        Press the button below to validate the metadata.
        Once validation succeeds, you will be given an option to save the metadata.
      .isic-apply-metadata-validate-button-container.text-center
        button#isic-apply-metadata-validate-button.btn.btn-primary.btn-md(disabled) Validate
      #isic-apply-metadata-validation-container
      .isic-apply-metadata-save-button-container.text-center
        button#isic-apply-metadata-save.btn.btn-primary.btn-md.hidden Save
