.isic-form-page.isic-apply-metadata-container
  h2.isic-page-title Apply metadata

  .isic-form-container
    .isic-dataset-info-widget.isic-form-group
    .isic-form-group
      h3 Select metadata file
      p.
        Select the metadata file to apply:
      #isic-apply-metadata-select-file-container.form-group
      button#isic-apply-metadata-download-button.btn.btn-default.btn-md(disabled)
        i.icon-download
        |  Download
    .isic-form-group
      h3 Apply metadata
      p.
        Press the button below to apply the metadata.
        Once applying is finished, you will receive an email with the status of the application.
      .isic-apply-metadata-apply-button-container.text-center
        button#isic-apply-metadata-apply-button.btn.btn-primary.btn-md(disabled) Apply
