extends ../common/Listing/listingPage

block title
  if canCreateDataset
    = title
    a.isic-dataset-add-button.btn.btn-default.btn-sm(title="Create new dataset")
      i.icon-plus
  else
    = title
