.isic-form-page.isic-upload-batch-container
  h2.isic-page-title Upload batch

  .isic-form-container
    .isic-form-group
      h3 Select dataset
      #isic-upload-batch-select-dataset-container.form-group
      if canCreateDataset
        .form-group Or #[a(href='#dataset/create') create a new dataset]
    .isic-form-group
      #isic-upload-batch-dataset-info-widget-container
    .isic-form-group
      h3 Upload images
      .isic-upload-description-container
        | Upload a ZIP file of images.
      .isic-upload-container
        .isic-upload-widget-container
        .isic-upload-reset-container
          .isic-upload-list
          button#isic-upload-reset.btn.btn-secondary.btn-md Reset
    .isic-form-group
      h3 Licensing
      p.
        Enter your name to electronically sign the contributor license
        agreement.
      .form-group
        label.control-label
          | Contributor license agreement
        #isic-terms-of-use-container
      .form-group
        label.control-label(for='isic-upload-batch-agreement-signature') Electronic signature
        input#isic-upload-batch-agreement-signature.form-control.input-sm(
          type='text',
          placeholder='Enter your name')

    p
      form#isic-upload-batch-form
        button#isic-upload-batch-submit.btn.btn-primary.btn-md(type='submit') Submit
