.isic-listing-panel-heading
  font-size 20px
  a
  i
    color grey

.isic-listing-content
  margin-left 20px

.isic-list-container
  background-color white
  border-radius 3px
  margin-bottom 10px
  border 1px solid #d7d7d7

.isic-list-title
  background-color #ddd
  color black
  padding 3px 10px

.isic-list
  max-height 200px
  overflow auto
  background linear-gradient(top, #cacaca 0, white 5px)
  padding 1px 4px

.isic-list-entry
  margin 0 10px
  padding 5px 0

.isic-list-entry-col-left
  display inline-block
  vertical-align top
  width 250px
  word-wrap break-word

.isic-list-entry-col-right
  display inline-block
  vertical-align top

  .isic-list-entry-action-remove
    color #999
    margin-left 14px
    font-size 16px
    display inline-block
    vertical-align middle

    &:hover
      color #d02344
