@import 'nib'

$headerHeight = 54px
$portraitHeight = 36px
$textColor = #444

.isic-header-wrapper
  min-height $headerHeight
  background-color rgba(255, 255, 255, 0.88)
  transition background-color 0.4s ease-in-out
  font-size 16px

  &:hover
    background-color white

  .isic-header-title
    font-size 24px
    color $textColor

  .isic-header-item
    color $textColor !important

  i.icon-link-ext
    margin-left 3px

  .isic-current-user-wrapper

    .isic-current-user-text

      .isic-portrait-wrapper
        border-radius 50%
        display inline-block
        background-color #d6d6d6
        height $portraitHeight
        width $portraitHeight
        background-size $portraitHeight $portraitHeight
        margin-top (($headerHeight - $portraitHeight)/2)

      .isic-user-link-wrapper
        display inline-block

        .isic-user-link
          color $textColor !important

          &:hover
            color #66a

      .isic-login-link-wrapper
        font-size 16px

        .isic-login-link
          color $textColor !important

#g-app-body-container
  margin 0
  margin-top $headerHeight
  min-height 0
  padding 12px 15px

.isic-body-nopad
  padding 0 !important

#isic-app-footer-container
  display flex
  border-top 1px solid #eee
  background-image linear-gradient(to bottom, #f6f6f6 0%, #fff 5px)
  padding 5px 10px 0px 10px

  ul
    display flex
    list-style none
    padding 0px

  // Add vertical line separator before list items, except the first
  li + li
    &:before
      content '\2502'
      padding 0em 0.5em

  .isic-footer-info
    flex 1
