.modal-dialog
  .modal-content
    .modal-body
      p
    .modal-footer
      a#isic-alert-dialog-button.btn.btn-small.btn-default(
        class=params.buttonClass,
        data-dismiss='modal')= params.buttonText
