.isic-frontpage
  .container
    .isic-frontpage-banner.row
      .col-lg-12
        h1 Welcome to ISIC
        h2 The International Skin Imaging Collaboration
    .isic-frontpage-panels.row
      .col-lg-12
        .row
          .col-lg-3
            a.isic-frontpage-panel(href='http://isdis.net/isic-project/', target='_blank', rel='noopener')
              i.icon-info
              h3 About ISIC
              span Learn about the ISIC Project and our goals to advance melanoma research
          .col-lg-3
            a.isic-frontpage-panel(href='#images')
              i.icon-picture
              h3 View Gallery
              span Explore collections of high quality image data sets
          .col-lg-3
            a.isic-frontpage-panel(href='https://challenge2018.isic-archive.com', target='_blank', rel='noopener')
              i.icon-award
              h3 Machine Learning Challenges
              span Participate in open competitions and review past challenges
          .col-lg-3
            a.isic-frontpage-panel(href='#dataset/create')
              i.icon-upload-cloud
              h3 Upload Data
              span Contribute images and data to the ISIC Archive
        .row
          .col-lg-3
            a.isic-frontpage-panel(href='#studies')
              i.icon-users
              h3 Participate in Studies
              span Use our annotation platform to contribute data to ongoing studies
          .col-lg-3
            a.isic-frontpage-panel(href='https://dermoscopedia.org/', target='_blank', rel='noopener')
              i.icon-chat
              h3 Dermoscopedia
              span Learn about Dermoscopedia and our efforts to enhance Dermatology education
          .col-lg-3
            a.isic-frontpage-panel(href='#tasks')
              i.icon-gauge
              h3 Dashboard
              span View dashboard
          .col-lg-3
            a.isic-frontpage-panel(href='/api/v1', target='_blank', rel='noopener')
              i.icon-download-cloud
              h3 Download Data
              span Learn how to use our API to download large sets of data
