.isic-frontpage
  .container
    .isic-frontpage-banner.row
      .col-lg-12
        h1 Welcome to ISIC
        h2 The International Skin Imaging Collaboration
    .isic-frontpage-panels.row
      .col-lg-12
        .row
          .col-lg-3
            .isic-frontpage-about.isic-frontpage-panel
              i.icon-info
              h3 About ISIC
              span Learn about the ISIC Project and our goals to advance melanoma research
          .col-lg-3
            .isic-frontpage-images.isic-frontpage-panel
              i.icon-picture
              h3 View Gallery
              span Explore collections of high quality image data sets
          .col-lg-3
            .isic-frontpage-challenges.isic-frontpage-panel
              i.icon-award
              h3 Machine Learning Challenges
              span Participate in open competitions and review past challenges
          .col-lg-3
            .isic-frontpage-upload.isic-frontpage-panel
              i.icon-upload-cloud
              h3 Upload Data
              span Contribute images and data to the ISIC Archive
        .row
          .col-lg-3
            .isic-frontpage-studies.isic-frontpage-panel
              i.icon-users
              h3 Participate in Studies
              span Use our annotation platform to contribute data to ongoing studies
          .col-lg-3
            .isic-frontpage-dermoscopedia.isic-frontpage-panel
              i.icon-chat
              h3 Dermoscopedia
              span Learn about Dermoscopedia and our efforts to enhance Dermatology education
          .col-lg-3
            .isic-frontpage-dashboard.isic-frontpage-panel
              i.icon-gauge
              h3 Dashboard
              span View dashboard
          .col-lg-3
            .isic-frontpage-api.isic-frontpage-panel
              i.icon-download-cloud
              h3 Download Data
              span Learn how to use our API to download large sets of data
