@import '../imagesColors';

#isic-images-pagingPane
  flex-basis 6em
  height 6em
  max-height 6em
  min-height 6em
  display flex
  flex-wrap nowrap
  align-items center
  user-select none

  #isic-images-paging-tools
    align-items center

  #isic-images-paging-seek
    margin-right 10px

  #isic-images-paging-label
    &>*:not(#isic-images-paging-label-loading)
      // This will be updated dynamically
      display none

    .isic-images-paging-label-page
      font-weight bolder
      color $pageColor

    .isic-images-paging-label-filtered
      font-weight bolder
      color $filteredSetColor

    .isic-images-paging-label-total
      font-weight bolder
      color $overviewColor

  #isic-images-paging-downloadZip
    margin-left auto

  #isic-images-paging-bars
    position relative

    .isic-images-paging-bar
      position absolute
      height 1em
      top 0

    #isic-images-paging-bar-filteredTotal
      z-index 1
      background-color $filteredSetColor
      left 0
      width 100%

    #isic-images-paging-bar-pageTotal
      z-index 2
      background-color $pageColor
      // This will be updated dynamically
      left 0
      width 0
