.growing.flexColumn
  #isic-images-pagingTools.flexRow
    #isic-images-seekFirst.button
      i.icon-to-start-alt
    #isic-images-seekPrev.button
      i.icon-fast-bw
    #isic-images-seekNext.button
      i.icon-fast-fw
    #isic-images-seekLast.button
      i.icon-to-end-alt
    #isic-images-loading.isic-images-paging-detailLabel Loading images...
    #isic-images-noPagingOrFilters.isic-images-paging-detailLabel
      | Showing all&nbsp;
      span.isic-images-paging-detailLabel-page 0
      |  images in the archive.
    #isic-images-hasPaging.isic-images-paging-detailLabel
      | Showing images&nbsp;
      span.isic-images-paging-detailLabel-page 0 - 0
      |  of&nbsp;
      span.isic-images-paging-detailLabel-filteredSet 0
      |  total images.
    #isic-images-hasFilters.isic-images-paging-detailLabel
      | Showing&nbsp;
      span.isic-images-paging-detailLabel-filteredSet 0
      |  of the&nbsp;
      span.isic-images-paging-detailLabel-overview 0
      |  total number of images in the archive.
    #isic-images-hasFiltersAndPaging.isic-images-paging-detailLabel
      | Showing images&nbsp;
      span.isic-images-paging-detailLabel-page 0 - 0
      |  of&nbsp;
      span.isic-images-paging-detailLabel-filteredSet 0
      |  filtered images. There are&nbsp;
      span.isic-images-paging-detailLabel-overview 0
      |  total images in the archive (ignoring filters).
    button#isic-images-paging-downloadZip.btn.btn-sm.btn-default(
      data-toggle='tooltip'
      data-placement='bottom'
      title='Download all filtered images as a ZIP'
    )
      i.icon-file-archive
      span Download as ZIP
  #isic-images-paging-bars.flexRow
    #isic-images-paging-bar-filteredTotal.isic-images-paging-bar
    #isic-images-paging-bar-pageTotal.isic-images-paging-bar
