@import '../imagesColors';

#isic-images-pagingPane
  flex-basis 6em
  height 6em
  max-height 6em
  min-height 6em
  display flex
  flex-wrap nowrap
  align-items center
  user-select none

  #isic-images-pagingTools
    align-items center

    .overview
      font-weight bolder
      color $overviewColor

    .filteredSet
      font-weight bolder
      color $filteredSetColor

    .page
      font-weight bolder
      color $pageColor

    .detailLabel
      // These will be updated dynamically
      display none
      &#isic-images-loading
        display block

    #isic-images-download-zip
      margin-left auto

  #isic-images-pagingBars
    position relative

    .bar
      position absolute
      height 1em
      top 0

      &.filteredSet
        background-color $filteredSetColor
        left 0
        width 100%

      &.page
        background-color $pageColor
        // This will be updated dynamically
        left 0
        width 0
