.isic-terms-of-use-container
  .isic-terms-of-use-text-container.isic-legal-container
    .isic-legal-content
      include ../../Legal/legal/terms_of_use.html

  .isic-terms-of-use-link-container
    a.isic-terms-of-use-link(href=require('./Terms of Use.txt'), download='Terms of Use.txt')
      i.icon-doc-text
      | Download as text
    a.isic-terms-of-use-link(href=require('./Terms of Use.pdf'), download='Terms of Use.pdf')
      i.icon-file-pdf
      | Download as PDF
