{
    "extends": "girder",
    "rules": {
        "backbone/defaults-on-top": 2,
        "backbone/event-scope": 0,
        "backbone/no-changed-set": 2,
        "backbone/no-collection-models": 2,
        "backbone/no-el-assign": 2,
        "backbone/no-native-jquery": [0, "selector"],
        "backbone/no-silent": 2,
        "backbone/no-view-model-attributes": 2,
        "backbone/no-view-onoff-binding": 2,
        "backbone/no-view-qualified-jquery": 2,
        "backbone/render-return": 2
    },
    "settings": {
        "backbone": {
            "Collection": ["GirderCollection", "Collection"],
            "Model": ["GirderModel", "Model"],
            "View": ["GirderView", "View"],
        }
    }
}
