[submodule "ansible/library/ansible-conda"]
	path = ansible/library/ansible-conda
	url = https://github.com/synthicity/ansible-conda.git
[submodule "custom/static/geojs"]
	path = custom/static/geojs
	url = https://github.com/OpenGeoscience/geojs.git
	branch = pixelmap
