# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bower_components/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
node_modules/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyCharm
.idea/*

# Vagrant
.vagrant

# Vim
*.swp
