[submodule "ansible/library/ansible-conda"]
	path = ansible/library/ansible-conda
	url = https://github.com/synthicity/ansible-conda.git
[submodule "custom/static/js/js-segment-annotator"]
	path = custom/static/js/js-segment-annotator
	url = https://github.com/kyamagu/js-segment-annotator.git
