.isic-study-results-markups-content
  display flex

  &>span
    margin-left 20px

  .isic-study-results-markups-legend
    margin-top 10px

    &>div
      display inline
      margin-left 20px

    .isic-study-results-markups-legend-possible
      i
        color #fafa00

    .isic-study-results-markups-legend-definite
      i
        color #0000ff

#isic-study-results-markup-image-container
  margin-top 5px

#isic-study-results-select-markup-container
  flex 1
