.modal-dialog
  .modal-content
    .modal-header
      button.close(data-dismiss='modal', type='button') &times;
      h4.modal-title
        | Study details
      i.icon-eye
      = model.name()
    .modal-body
      .isic-study-results-study-details-container
        if hasStudy
          table.table.table-condensed.isic-study-results-study-details-table
            tr
              td.isic-study-results-study-details-table-label Unique ID
              td
                code= model.id
            tr
              td.isic-study-results-study-details-table-label Creator
              td= model.creator().name()
    .modal-footer
      a.btn.btn-small.btn-primary(data-dismiss='modal') Close
