.isic-study-results-container

  // Study row
  .isic-study-results-flex-row

    // Study container
    #isic-study-results-select-study-container

    // User container
    #isic-study-results-select-user-container.hidden

  #isic-study-results-main-container.isic-study-results-flex-row.isic-study-results-flex-grow.hidden

    // Image column
    .isic-study-results-flex-column

      // Image header
      #isic-study-results-select-image-header

      // Image container
      #isic-study-results-select-image-container

    #isic-study-results-main-content.isic-study-results-flex-column.isic-study-results-flex-grow.hidden

      // Tabs
      ul.nav.nav-tabs
        li.active
          a(data-toggle="tab" href='#isic-study-results-image-preview-tab-content')#isic-study-results-image-preview-tab Image Preview
        li
          a(data-toggle="tab" href='#isic-study-results-global-features-tab-content')#isic-study-results-global-features-tab Global Features
        li
          a(data-toggle="tab" href='#isic-study-results-local-features-tab-content')#isic-study-results-local-features-tab Local Features

      // Tab content
      .tab-content

        .tab-pane.active#isic-study-results-image-preview-tab-content

        .tab-pane#isic-study-results-global-features-tab-content
          #isic-study-results-global-features-container

        .tab-pane#isic-study-results-local-features-tab-content
