#isic-study-results-local-features-select-container
  flex 1

.isic-study-results-local-features-legend
  margin-top 10px

  &>div
    display inline
    margin-left 20px

  .isic-study-results-local-features-legend-possible
    i
      color #fafa00

  .isic-study-results-local-features-legend-definite
    i
      color #0000ff

#isic-study-results-local-features-image-container
  margin-top 5px
  display flex
  flex 1
  min-width 640px
  min-height 480px
  object-fit contain
  width 100%
  height 100%
