.isic-study-results-study-details-container

  .isic-study-results-study-details-table
    width auto
    margin-bottom 0

    .isic-study-results-study-details-table-label
      font-weight bold
      width 100px

    tr:first-child
      td
        border-top 0
