.isic-study-results-container
  display flex
  flex-flow column
  min-height 12em
  // TODO Better way to calculate height
  height calc(100vh - 8.15em)
  overflow hidden

  .isic-study-results-header
    font-size 16px
    font-weight bold

  .isic-study-results-flex-row
    display flex
    flex-flow row

  .isic-study-results-flex-column
    display flex
    flex-flow column

  .isic-study-results-flex-grow
    flex 1

  .isic-study-results-pad
    padding 10px

  #isic-study-results-main-container
    overflow hidden

  #isic-study-results-select-image-container
    min-width 155px
    overflow auto

  #isic-study-results-main-content
    padding-left 10px

  #isic-study-results-select-user-container
    margin-bottom 10px

  .nav
    li
      a
        padding 5px 10px

  .tab-content
    padding-top 3px
    height 100%

    .tab-pane
      height 100%
