.isic-study-results-container

  //- Study row
  .isic-study-results-flex-row

    //- Study container
    #isic-study-results-select-study-container

    //- User container
    #isic-study-results-select-user-container.hidden

  #isic-study-results-main-container.isic-study-results-flex-row.isic-study-results-flex-grow.hidden

    //- Image column
    .isic-study-results-flex-column

      //- Image header
      #isic-study-results-select-image-header

      //- Image container
      #isic-study-results-select-image-container

    #isic-study-results-main-content.isic-study-results-flex-column.isic-study-results-flex-grow.hidden

      //- Tabs
      ul.nav.nav-tabs
        li.active
          a#isic-study-results-image-preview-tab(data-toggle='tab', href='#isic-study-results-image-preview-tab-content') Image Preview
        li
          a#isic-study-results-responses-tab(data-toggle='tab', href='#isic-study-results-responses-tab-content') Responses
        li
          a#isic-study-results-markups-tab(data-toggle='tab', href='#isic-study-results-markups-tab-content') Markups

      //- Tab content
      .tab-content

        #isic-study-results-image-preview-tab-content.tab-pane.active

        #isic-study-results-responses-tab-content.tab-pane
          #isic-study-results-responses-container

        #isic-study-results-markups-tab-content.tab-pane
          #isic-study-results-markups-container

      //- Container for images associated with tabs. Visibility is controlled by logic in StudyResultsView.js.
      .isic-study-results-flex-grow.isic-study-results-image-container

        //- Markups image container
        #isic-study-results-markup-image-container.isic-study-results-flex-grow.hidden

        //- Image preview container
        #isic-study-results-image-preview-container.isic-study-results-flex-grow
