.isic-study-results-responses-content
  margin 0 20px

.isic-study-results-responses-table
  width auto

  tbody
    .isic-study-results-response-id
      width 30%
      padding-right 2em
      &.disabled
        color #aaa
        code
          color #aaa
    .isic-study-results-response-value
      width 70%
