- let hasFeaturesClass = hasLocalFeatures ? '' : 'hidden';
- let noFeaturesClass = hasLocalFeatures ? 'hidden' : '';

.isic-study-results-local-features-content(class=noFeaturesClass)
  span N/A

.isic-study-results-local-features-content(class=hasFeaturesClass)
  #isic-study-results-select-local-feature-container
  .isic-study-results-local-features-legend
    .isic-study-results-local-features-legend-possible
      i &#9632;
      span  50% confidence
    .isic-study-results-local-features-legend-definite
      i &#9632;
      span  100% confidence
