#isic-study-results-local-features-select-container
.isic-study-results-local-features-legend
  .isic-study-results-local-features-legend-possible
    i &#9632;
    span  50% confidence
  .isic-study-results-local-features-legend-definite
    i &#9632;
    span  100% confidence
#isic-study-results-local-features-image-container
