table.table.table-condensed.isic-study-results-global-features-table
  thead
    tr
      th ID
      th Value
  tbody
    each response in globalResponses
      tr
        td.isic-study-results-annotation-feature-id(title=response.name(), class={disabled: !response.has('resultName')})
          code= response.id
        td.isic-study-results-annotation-feature-value(title=feature.get("resultId"))
          = response.get('resultName')
