.isic-study-results-select-local-features-container
  //- For select2, add width in style attribute, see https://select2.github.io/examples.html#responsive
  select#isic-study-results-select-local-features-select.form-control.input(style='width:100%')
    option(selected disabled value='')
    each model in models
      option(value=model.id)= model.name()
