.modal-dialog.isic-create-dataset-license-info-container
  .modal-content
    .modal-header
      button.close(data-dismiss='modal', type='button') &times;
      h4.modal-title
        | Licenses
    .modal-body
      .alert.alert-info
        i.icon-attention-circled
        .isic-create-dataset-license-info-alert-content
          | The ISIC recommends that dataset contributors choose the #[b CC-0] or #[b CC-BY] licenses whenever possible.

      h4.isic-create-dataset-license-info-title
        p
          img(src='https://licensebuttons.net/l/zero/1.0/88x31.png')
        | CC-0 (No restrictions)
      p.
        CC-0 enables scientists, educators, artists and other creators and
        owners of copyright- or database-protected content to waive those
        interests in their works and thereby place them as completely as
        possible in the public domain, so that others may freely build upon,
        enhance and reuse the works for any purposes without restriction under
        copyright or database law.
      a(href='https://creativecommons.org/publicdomain/zero/1.0/', target='_blank', rel='noopener')
        | View License Deed&nbsp;
        i.icon-link-ext

      h4.isic-create-dataset-license-info-title
        p
          img(src='https://licensebuttons.net/l/by/4.0/88x31.png')
        | CC-BY (Attribution)
      p.
        This license lets others distribute, remix, tweak, and build upon your
        work, even commercially, as long as they credit you for the original
        creation.
      a(href='https://creativecommons.org/licenses/by/4.0', target='_blank', rel='noopener')
        | View License Deed&nbsp;
        i.icon-link-ext

      h4.isic-create-dataset-license-info-title
        p
          img(src='https://licensebuttons.net/l/by-nc/4.0/88x31.png')
        | CC-BY-NC (Attribution-NonCommercial)
      p.
        This license lets others remix, tweak, and build upon your work
        non-commercially, and although their new works must also acknowledge
        you and be non-commercial, they don’t have to license their derivative
        works on the same terms.
      a(href='https://creativecommons.org/licenses/by-nc/4.0', target='_blank', rel='noopener')
        | View License Deed&nbsp;
        i.icon-link-ext

    .modal-footer
      a.btn.btn-small.btn-primary(data-dismiss='modal') Close
