.isic-form-page.isic-create-dataset-request-container
  h2.isic-page-title Create dataset

  .isic-form-container
    .isic-form-group
      h3 Request Dataset Contributor access
      p.
        Thank you for your interest in contributing to the ISIC Archive.
        We accept dermoscopic images with metadata, under
        #[a(href='https://creativecommons.org/publicdomain/zero/1.0/', target='_blank', rel='noopener') CC-0],
        #[a(href='https://creativecommons.org/licenses/by/4.0/', target='_blank', rel='noopener') CC-BY] and
        #[a(href='https://creativecommons.org/licenses/by-nc/4.0/', target='_blank', rel='noopener') CC-BY-NC] licenses.
        Please click below to request access to contribute images:
      form#isic-dataset-form.text-center
        button#isic-dataset-submit.btn.btn-primary.btn-md.text-center(type='submit') Request access
