.isic-form-page.isic-register-metadata-container
  h2.isic-page-title Register metadata

  .isic-form-container
    include datasetInfoWidget
    .isic-form-group
      h3 Upload metadata
      .isic-upload-description-container
        | Upload a CSV file of image metadata. The #[i filename] column
        | should contain an image filename (including file extension). All
        | other columns are considered to be clinical metadata; these other
        | column names may not contain the period (.) character.
      .isic-upload-container
        .isic-upload-widget-container
        .isic-upload-reset-container
          .isic-upload-list
          button#isic-upload-reset.btn.btn-secondary.btn-md Reset

  p
    button#isic-register-metadata-submit.btn.btn-primary.btn-md Submit
