.isic-listing-item-container

  .isic-listing-item-table
    width 100%

    &:last-child
      margin-bottom 0

    .isic-listing-item-table-label
      font-weight bold
      width 100px

    .isic-listing-item-table-section-header
      background-color #eee
      padding 0 8px
      font-size 20px
