.isic-form-page.isic-terms-acceptance
  .isic-form-container
    .isic-form-group
      h3 Terms of Use
      #isic-terms-of-use-container
      .isic-terms-agreement-button-container.btn-toolbar
        button#isic-terms-accept.btn.btn-primary.btn-md I Accept
        button#isic-terms-reject.btn.btn-primary.btn-md I Decline
