.isic-settings-form
  margin-top 10px

.isic-form-page
  max-width 770px
  margin auto

  label
    font-weight normal
    margin-top 5px
    margin-bottom 5px
    padding-top 5px

.isic-form-container
  border-radius 3px
  margin-bottom 10px
  padding 10px

  :first-child
    margin-top 0
  :last-child
    margin-bottom 0

.isic-form-group
  background-color #f7f7f7
  border-radius 3px
  margin-bottom 10px
  padding 15px
  border 1px solid #d7d7d7

  h3
    border-bottom 1px solid #d7d7d7
    padding-bottom 10px

.isic-page-title
  color #333
  margin 19px 0 21px

.isic-kbd
  background-color #d3d3d3
  color #000
