[Unit]
Description=MailHog Email Catcher
After=syslog.target network.target

[Service]
Type=simple
User={{ ansible_user }}
Group={{ ansible_user }}
Environment=MH_API_BIND_ADDR=0.0.0.0:8025
Environment=MH_UI_BIND_ADDR=0.0.0.0:8025
Environment=MH_SMTP_BIND_ADDR=0.0.0.0:1025
Environment=MH_STORAGE=maildir
Environment=MH_MAILDIR_PATH={{ ansible_user_dir }}/mailhog-storage
{% if mailhog_username is defined and mailhog_password_bcrypt is defined %}
Environment=MH_AUTH_FILE=/etc/mailhog-auth
{% endif %}
ExecStart=/usr/local/bin/mailhog
StandardOutput=journal
Restart=on-failure

[Install]
WantedBy=multi-user.target
