MH_API_BIND_ADDR=0.0.0.0:8025
MH_UI_BIND_ADDR=0.0.0.0:8025
MH_SMTP_BIND_ADDR=0.0.0.0:1025
MH_STORAGE=maildir
MH_MAILDIR_PATH={{ ansible_user_dir }}/mailhog-storage
{% if mailhog_username is defined and mailhog_password is defined %}
MH_AUTH_FILE=/etc/mailhog-auth
{% endif %}
