#galleryContent
  position relative
  min-height 12em
  height calc(100vh - 8.2em)
  display flex
  width 100%
  flex-wrap nowrap

  .flexRow
    display flex
    width 100%
    flex-wrap nowrap

  .flexColumn
    display flex
    flex-direction column
    height 100%
    flex-wrap nowrap

  .fixedWidth
    min-width 32em
    max-width 32em
    flex-basis 32em
    overflow-y auto

  .spacer
  .growing
    flex-grow 1

  .pane
    position relative
    padding 0.5em
    margin 0.5em
    border 1px solid #DDDDDD
    border-radius 3px

  .button
    margin 0.5em
    cursor pointer
    border 1px solid transparent
    border-radius 3px
    padding 3px

    img
      width 1em
      height 1em
      opacity 0.7

    &:hover
      border 1px solid #E2E2E2
      background linear-gradient(to bottom, #fff 60%, #f6f6f6 100%)

      img
        opacity 1.0

    &.disabled
    &.disabled:hover
      border 1px solid transparent
      background transparent
      cursor default

      img
        opacity 0.2

  .isic-images-image-container
    overflow auto
