@import "imageDetailsPage"

.isic-segmentations-display-container
  .isic-segmentations-display-title
    font-size $title-font-size
    border-bottom $title-border-bottom
    margin-bottom $title-margin-bottom
