.isic-form-page.isic-create-study-container
  h2.isic-page-title Create annotation study

  .isic-form-container
    .isic-form-group
      h3 Basic information
      p.
        Enter a name for the new annotation study.
      .form-group
        label(for='isic-study-name') Name
        input#isic-study-name.form-control.input-sm(
          type='text')

    .isic-form-group
      h3 Users
      .isic-list-container.isic-study-user-list-container
        .isic-list-title.isic-study-user-list-title #[i.icon-user] Selected users
        #isic-study-user-list.isic-list
      p.
        Select users to include in the study.
      .isic-study-search-field-container.isic-study-user-search-field-container

  p
    form#isic-study-form
      button#isic-study-submit.btn.btn-primary.btn-md(type='submit') Submit
