h3 Global Features
.isic-selectFeatures-global.isic-selectFeatures-features
h3 Local Features
h4 Descriptive
.isic-selectFeatures-local-descriptive.isic-selectFeatures-features
h4 Metaphoric
.isic-selectFeatures-local-metaphoric.isic-selectFeatures-features
