.isic-study-questions-content
.isic-study-features-content
.isic-study-users-content
.isic-study-images-content
  display inline-block
  max-height 200px
  overflow-y auto

.isic-study-add-user-button
  margin-left 15px

.isic-study-accept-request-button
.isic-study-delete-request-button
.isic-study-remove-user-button
  color #999
  font-size 16px

.isic-study-delete-button
  &:hover
    color red

.isic-study-questions-content // @stylint ignore
  .isic-study-questions-content-id
    vertical-align top
    width 300px
  .isic-study-questions-content-choices
    width 250px

.isic-study-users-content // @stylint ignore
  ul
    list-style none
    padding-left 0
    margin-bottom 0

  th
  td
    white-space nowrap
    padding-right 20px

    &:last-child
      padding-right 0

    &.isic-study-user-name
      padding-right 5px

    &.isic-study-user-completion-count
      padding-right 1em
      text-align right

    &.isic-study-user-completion-percent
      text-align right
      color #737373

.isic-study-images-content // @stylint ignore
  .isic-study-images-content-name
    width 110px
  .isic-study-images-content-imageid
    width 220px
  td.isic-study-images-content-imageid
    font-family monospace

