extends ../common/Listing/listingPage.jade

block title
  if studyAdmin
    = title
    a.isic-study-add-button.btn.btn-default.btn-sm.isic-tooltip(
      title="Create new study")
      i.icon-plus
  else
    = title
