.isic-study-users-content
.isic-study-images-content
  display inline-block
  max-height 200px
  overflow-y auto

.isic-study-add-user-button
  margin-left 15px

.isic-study-users-content
  ul
    margin-bottom 0px

.isic-study-images-content
  .isic-study-images-content-name
    width 110px
  .isic-study-images-content-imageid
    width 220px
  td.isic-study-images-content-imageid
    font-family monospace

