.isic-study-users-content
.isic-study-images-content
  display inline-block
  max-height 200px
  overflow-y auto

.isic-study-add-user-button
  margin-left 15px

.isic-study-remove-user-button
  color #999
  font-size 16px

  &:hover
    color red

.isic-study-users-content
  ul
    list-style none
    padding-left 0px
    margin-bottom 0px

  th
  td
    padding-right 20px

    &:last-child
      padding-right 0px

    &.isic-study-user-name
      padding-right 5px

    &.isic-study-user-completion-count
      padding-right 0.5em
      text-align right

    &.isic-study-user-completion-percent
      text-align left
      color #737373

.isic-study-images-content
  .isic-study-images-content-name
    width 110px
  .isic-study-images-content-imageid
    width 220px
  td.isic-study-images-content-imageid
    font-family monospace

