.isic-list-entry.isic-user-list-entry(data-user-id=user.id)
  .isic-list-entry-col-left.isic-user-list-entry-col-left
    .isic-user-list-entry-title #{user.text}
  .isic-list-entry-col-right.isic-user-list-entry-col-right
    a.isic-list-entry-action-remove.isic-user-list-entry-action-remove(title='Remove')
      i.icon-cancel
