nav.navbar.navbar-default.navbar-fixed-top.isic-header-wrapper
  .container-fluid

    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#isic-navbar-collapse')
        span.sr-only Toggle navigation
        i.icon-bar
        i.icon-bar
        i.icon-bar
      a.navbar-brand.isic-header-title(href='#') ISIC

    #isic-navbar-collapse.collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          a.isic-header-item(href='https://www.isic-archive.com/#!/tightContentTop/about') About
        li
          a.isic-header-item(href='https://www.isic-archive.com/#!/onlyHeaderTop/gallery') Gallery
        li
          a.isic-header-item(href='https://www.isic-archive.com/#!/topWithHeader/tightContentTop/challenges', target='_blank', rel='noopener') Challenges
        li
          a.isic-header-item(href='https://www.isic-archive.com/#!/tightDarkContentTop/studies') Studies
        li
          a.isic-header-item(href='https://dermoscopedia.org/', target='_blank', rel='noopener') Dermoscopedia
        li
          a.isic-header-item(href='https://www.isic-archive.com/#!/tightContentTop/dashboard') Dashboard
        li
          a.isic-header-item(href='#') Contribute to Archive
        li
          a.isic-header-item(href='/api/v1') Download Data
