.alert.alert-danger.
  #[b You are using an unsupported browser!] Please use
  #[a(href='https://www.google.com/chrome/browser/', target='_blank', rel='noopener') Google Chrome]
  or #[a(href='https://getfirefox.com', target='_blank', rel='noopener') Mozilla Firefox] for
  optimal access to the ISIC Archive.
