.container-fluid
  .row
    .isic-footer-info.col-md-4
      ul
        li
          | &copy; Kitware, Inc.
        li
          | Powered by
          a(href='http://girder.readthedocs.org/en/latest/user-guide.html', target='_blank', rel='noopener')  Girder

    .isic-footer-legal.col-md-4
      ul
        li
          a(href='#termsOfUse') Terms of Use
        li
          a(href='#privacyPolicy') Privacy Policy
        li.isic-footer-disclaimer(data-content='All information on this website is for education and information purposes only. For specific medical advice, diagnoses, and treatment, seek expert, specific medical care. Click the link below to see our Medical Disclaimer in its entirety.')
          a(href='#medicalDisclaimer') Medical Disclaimer

    .isic-footer-links.col-md-4
      ul
        li
          a(href='mailto:admin@isic-archive.com') Contact
        li
          a(href=apiRoot) Web API
        li
          a(href='https://github.com/ImageMarkup/isic-archive/issues/new', target='_blank', rel='noopener') Report a bug
