.modal-dialog.isic-image-fullscreen-dialog
  .modal-content
    .modal-header
      button.close(data-dismiss='modal', type='button') &times;
      h4.modal-title= model.name()
    .modal-body
      .isic-image-fullscreen-container
    .modal-footer
      a.btn.btn-small.btn-primary(data-dismiss='modal') Close
