td.isic-study-results-annotation-feature-id(title="#{feature.get('name')}")
  = feature.id
td.isic-study-results-annotation-feature-value(title="#{feature.get('resultId')}")
  = feature.get('resultName')
