.modal-dialog
  .modal-content
    .modal-header
      button.close(data-dismiss="modal", aria-hidden="true", type="button") &times;
      h4.modal-title
        | Study details
      i.icon-eye
      = model.get('name')
    .modal-body
      .isic-study-results-study-details-container
        if hasStudy
          table.table.table-condensed.isic-study-results-study-details-table
            tr
              td.isic-study-results-study-details-table-label Unique ID
              td
                code= model.id
            tr
              td.isic-study-results-study-details-table-label Featureset
              td= formatFeatureset(model.featureset())
            tr
              td.isic-study-results-study-details-table-label Creator
              td= formatUser(model.get('creator'))
    .modal-footer
      a.btn.btn-small.btn-primary(data-dismiss="modal") Close
