.isic-study-results-select-users-container
  select#isic-study-results-select-users-select.form-control.input
    option(selected disabled value='')
    each model in models
      option(value=model.id)= getName(model)
