table.table.table-condensed.isic-study-results-global-features-table
  thead
    tr
      th ID
      th Value
  tbody
    each feature in features
      tr
        td.isic-study-results-annotation-feature-id(title="#{feature.get('name')}")
          = feature.id
        td.isic-study-results-annotation-feature-value(title="#{feature.get('resultId')}")
          = feature.get('resultName')
