if hasFeatureset
  h4 Featureset: #{featureset.name()}, version #{featureset.get('version')}

.isic-study-results-global-features-content
  if hasGlobalFeatures
    #isic-study-results-global-features-table
  else
    | N/A
