.isic-study-results-select-local-features-container
  each model in models
    if featureAnnotated(model.id)
      span.isic-study-results-select-local-features-feature-container(data-feature-id=model.id)
        = model.get('name')
