.isic-images-facets-features

  .isic-images-facets-features-section
    .isic-images-facets-feature-toggle
      cursor pointer

    a
      color #333333

      &:hover
        color #4eb3d3

    .isic-images-facets-features-children
      //list-style-type disclosure-open
      margin-left 20px

