@import "../imagesColors"

.isic-images-facets-pane-help
  padding 5px 10px
  margin-bottom 15px

.isic-images-facets-section
  h3
    background-color #ddd
    padding 2px 8px

.isic-images-facet
  .overview
    fill $overviewColor

  .filteredSet
    fill $filteredSetColor

  .page
    fill $pageColor

  .isic-images-facet-heading
    line-height 2.0
    cursor pointer

    .isic-images-facet-title
      display inline
      font-size 20px
      margin-left 5px

  .isic-images-facet-content

    .isic-images-facet-histogram-content
      display inline
      position relative
      width 100%
      overflow-x auto
      user-select none

      .yAxis
        line
        path
          fill none
          stroke $dataAxisColor
          stroke-width 1px

      .yAxisKnob
        cursor ns-resize
        fill $dataAxisColor
        stroke none

    .isic-images-facet-categorical-content
      margin-left 25px
      user-select none

      a
        margin-bottom 2px
        color #333333

        &:hover
          color #4eb3d3

        .isic-images-facet-bin-name
          margin-left 5px

        .isic-images-facet-bin-count
          margin-left 7px
          color #737373
