.isic-images-facet-heading(
  data-toggle='collapse',
  data-target=`#${facetContentId}`)
  i.isic-images-facet-indicator.icon-down-open
  h4.isic-images-facet-title= title
.isic-images-facet-content.collapse.in(id=facetContentId)
  block content
