extends imagesFacet

block content
  .isic-images-facet-categorical-content
    div
      a.isic-images-facet-all-exclude
        i.icon-minus-squared
        span.isic-images-facet-bin-name Select none
    div
      a.isic-images-facet-all-include
        i.icon-plus-squared
        span.isic-images-facet-bin-name Select all
    for bin in bins
      div
        a.isic-images-facet-bin(data-bin-label=bin.label, data-toggle=popover)
          i.icon-check
          span.isic-images-facet-bin-name= getBinTitle(bin)
          span.isic-images-facet-bin-count
