extends imagesFacet

block content
  div.isic-images-facet-categorical-content
    for bin in bins
      a.isic-images-facet-bin
        i.icon-check
        span.isic-images-facet-bin-name
        span.isic-images-facet-bin-count
