amqp==2.4.2
asn1crypto==0.24.0
attrs==19.1.0
backports.functools-lru-cache==1.5
bcrypt==3.1.6
billiard==3.6.0.0
boto3==1.9.130
botocore==1.12.130
cachetools==3.1.0
celery==4.3.0
certifi==2019.3.9
cffi==1.12.2
chardet==3.0.4
cheroot==6.5.4
CherryPy==11.0.0
Click==7.0
click-plugins==1.1.1
cryptography==2.6.1
cycler==0.10.0
decorator==4.4.0
diskcache==3.1.1
docker==3.7.2
docker-pycreds==0.4.0
docutils==0.14
dogpile.cache==0.7.1
filelock==3.0.10
geojson==2.4.1
girder==3.0.0a7.dev2
girder-client==2.4.0
girder-gravatar==3.0.0a7.dev2
girder-jobs==3.0.0a7.dev2
girder-large-image==1.0.0.dev31
girder-worker==0.6.0
girder-worker-utils==0.8.4
idna==2.8
imageio==2.5.0
jaraco.functools==2.0
jmespath==0.9.4
jsonpickle==1.1
jsonschema==3.0.1
kiwisolver==1.0.1
kombu==4.5.0
large-image==1.0.0.dev31
large-image-source-tiff==1.0.0.dev31
libtiff==0.4.2
Mako==1.0.8
MarkupSafe==1.1.1
matplotlib==3.0.3
more-itertools==7.0.0
natsort==6.0.0
networkx==2.2
numpy==1.16.2
opencv-python==4.0.1.24
passlib==1.7.1
pbr==5.1.3
Pillow==6.0.0
pluggy==0.9.0
portend==2.4
psutil==5.6.1
py==1.8.0
pycparser==2.19
pymongo==3.7.2
pyOpenSSL==19.0.0
pyparsing==2.4.0
pyrsistent==0.14.11
python-dateutil==2.8.0
python-dotenv==0.10.1
pytz==2019.1
PyWavelets==1.0.3
PyYAML==5.1
redis==3.2.1
requests==2.21.0
requests-toolbelt==0.9.1
s3transfer==0.2.0
scikit-image==0.15.0
scipy==1.2.1
sentry-sdk==0.7.10
setuptools-scm==3.2.0
six==1.12.0
stevedore==1.30.1
tempora==1.14
toml==0.10.0
tox==3.8.6
ujson==1.35
urllib3==1.24.1
vine==1.3.0
virtualenv==16.4.3
websocket-client==0.56.0
