.isic-study-results-select-study-container
  label.control-label.isic-study-results-header(for='isic-study-results-select-study-select') Study:
  select#isic-study-results-select-study-select.form-control.input
    option(selected, disabled, value='')
    each model in models
      option(value=model.id)= model.name()
  a.isic-study-results-select-study-details-button.btn.btn-default(title='View study details', disabled)
    i.icon-list
