// Image container
.isic-study-results-select-image-container

  // Individual image
  .isic-study-results-select-image-image-container
    padding 3px 0
    border-bottom 1px solid #ddd
    cursor pointer
    user-select none
    color #444

    &:hover
      background-color #e7e7e7

    &.active
      background-color #d3f4ff

    span
    img
      vertical-align middle

    span
      margin-left 5px

    img
      margin-left 10px
      margin-right 5px
