.isic-study-results-select-study-container
  display flex
  align-items center
  margin-right 20px
  margin-bottom 10px

  label
    padding-right 5px
    margin 0

  select
    width 450px

  .isic-study-results-select-study-details-button
    margin-left 5px
