extends imagesFacet

block content
  ul.isic-images-facet-categorical-content
    for bin in bins
      li
        .checkbox
          label
            input(type="checkbox" checked)
            span.isic-text= bin.label
