@import '../../../../clients/web/src/stylesheets/widgets/metadataWidget.styl'

.g-item-thumbnail-header
  @extend .g-widget-metadata-header
  margin-top 18px

.isic-segmentations-display-header
  @extend .g-widget-metadata-header
