[Unit]
Description=Localstack
After=network.target

[Service]
User={{ ansible_user }}
Group={{ ansible_user }}
Restart=always
Environment=SERVICES=s3
Environment=HOST=0.0.0.0
Environment=DATA_DIR={{ localstack_data_dir }}
ExecStart=/home/vagrant/env/bin/localstack start

[Install]
WantedBy=multi-user.target
