.isic-body-nopad.isic-frontpage
  .isic-frontpage-header
    .container
      h1 ISIC Archive
      h2 International Skin Imaging Collaboration: Melanoma Project
  .isic-banner-image
  .isic-frontpage-body.container
  .isic-section-text About ISIC
    h3 OVERVIEW
    p
      | The International Skin Imaging Collaboration: Melanoma Project is an academia and industry partnership designed to facilitate the application of digital skin imaging to help reduce melanoma mortality. When recognized and treated in its earliest stages, melanoma is readily curable. Digital images of skin lesions can be used to educate professionals and the public in melanoma recognition as well as directly aid in the diagnosis of melanoma through teledermatology, clinical decision support, and automated diagnosis. Currently, a lack of standards for dermatologic imaging undermines the quality and usefulness of skin lesion imaging. ISIC is developing proposed standards to address the technologies, techniques, and terminology used in skin imaging with special attention to the issues of privacy and interoperability (i.e., the ability to share images across technology and clinical platforms). In addition, ISIC has developed and is expanding an open source public access archive of skin images to test and validate the proposed standards. This archive serves as a public resource of images for teaching and for the development and testing of automated diagnostic systems. The overarching goal of the ISIC Melanoma Project is to support efforts to reduce melanoma-related deaths and unnecessary biopsies by improving the accuracy and efficiency of melanoma early detection. To this end the ISIC is developing proposed digital imaging standards and creating a public archive of clinical and dermoscopic images of skin lesions.
    h3 THE CHALLENGE
    p
      | The incidence of cutaneous melanoma, the most lethal of all the skin cancers, has risen every year since 1979 . Although most cases occur after the age of 40, incidence is rising among younger women, thanks in part to the increased use of tanning beds and other artificial tanning devices. When melanoma is diagnosed while still confined to the outer layers of the skin, simple excision is generally curative and the 5-year relative survival rate is approximately 98%. Unfortunately, despite the amenability of melanoma to early diagnosis through simple visual inspection, many patients continue to be diagnosed with more advanced disease. As a result, over 9,000 Americans die of melanoma each year. The need to improve the efficiency, effectiveness, and accuracy of melanoma diagnosis is clear. The personal and financial costs of failing to diagnose melanoma early are considerable. On the other hand, inexpert screening for melanoma can lead to numerous unnecessary biopsies and excisions of benign skin lesions that resemble melanoma.
    h3 EVOLUTION OF DIGITAL IMAGING IN SKIN LESION DIAGNOSIS
    p
      | Although skin lesions are visible to the naked eye, early-stage melanomas may be difficult to distinguish from benign skin lesions with similar appearances. This has led to many missed melanomas despite an epidemic of skin biopsies. The number of unnecessary biopsies varies by clinical setting, the expertise of the examiner, and the application of technology. For example, in children in whom melanoma rates are low and changing moles are common, there are over 500,000 biopsies a year to diagnose approximately 400 melanomas.
    p
      | Dermatologists who specialize in skin cancer routinely employ total body photography and dermatoscopy as diagnostic tools for the detection and diagnosis of melanomas. Total body photography permits the early detection of changing lesions and avoidance of biopsy of stable lesions. Dermatoscopes, simple hand held devices that eliminate surface glare and magnify structures invisible to the naked eye, significantly improve the distinction of melanomas from other skin lesions. When used by skin cancer specialists, total body photography and dermoscopy make it possible to detect melanoma very early in its evolution, while decreasing the number of unnecessary biopsies and improving recognition of atypical lesions. In clinical trials, training in dermoscopy or sequential imaging led to improvements in early detection of melanoma for both non-specialist dermatologists and primary care physicians. Specialized systems for image acquisition, storage, and retrieval have been developed for physicians to facilitate total body photography assisted follow up and digital dermoscopic monitoring.
    p
      | The adoption of technological aids for melanoma detection by dermatologists in general practice and primary care physicians, who constitute the front line in melanoma detection, has been slow due to cost and inconvenience. This is changing due to the mobile revolution as smart phone based digital cameras and dermatoscopes enter the professional market. In addition, there has been a proliferation of apps for the public. While the potential of consumer apps to educate and aid in melanoma detection is great, the first generation apps have evolved without regulation or oversight. The availability of inaccurate self-diagnosis apps may lead some patients to delay a consultation with a clinician. Indeed, a small study of the accuracy of some of these apps endorses this concern. As of February 9th 2015, the FDA (Food and Drug Administration) has assumed responsibility for regulation of consumer diagnostic apps and on February 23, 2015 the FTC (Federal Trade Commission) fined app makers for false advertising.
    p An overview of the clinical image acquisition process is seen here: 
    img(src='/Users/aadi/Documents/isic-archive/web_external/extra/img/totalbodyimaging.png', style='display: block; margin: 0 auto;')
    h3 THE NEED FOR SKIN LESION IMAGING STANDARDS
    p
      | The proliferation of dermatologic imaging has evolved without benefit of dermatology specific DICOM (Digital Communication) standards as exist for other medical specialties. This has been in part the result of the absence of a sizeable dermatologic imaging industry, as most dermatologic photography can be accomplished with "off the shelf" equipment. The more recent mobile technology era has further complicated the ability to set technical standards that can keep up with the rapid changes in the technologies. In both the medical and public realms, the optimal use of images for education, diagnosis, telediagnosis, patient triage, mole monitoring, documentation, and coordination of care will all benefit from the development of three categories of standards that help to insure Quality, Privacy, and Interoperability:
    ul
      li
        | QUALITY: While there may be subtle differences in the quality needed for different applications (e.g., diagnosis v. documentation), images failing to meet minimal quality (e.g., spatial resolution, color accuracy, clarity of focus) will undermine their clinical utility.
      li
        | PRIVACY: As in all other medical applications, standards are needed to insure the privacy of dermatology images and the personal health information associated with the images.
      li
        | INTEROPERABILITY: To optimize the usefulness of dermatologic images, standards are needed to insure that images and their associated metadata can be effectively shared between systems and providers.
    p
      | The required standards to insure image quality, privacy, and interoperability fall into three main categories:
    ul
      li
        | Technology Standards: The ubiquitous availability of off the shelf digital cameras and camera enabled smart phones has promoted wider use of imaging for lesion assessment and documentation while introducing considerable technologic diversity. Standards are needed to insure adequacy and compatibility of these images as relates to resolution, processing, metadata, compression, and encryption.
      li
        | Technique Standards: There are many variations in the current application of lesion imaging. Standard approaches to patient and lesion identification, documentation of lesion attributes, and image acquisition (e.g., poses, lighting, magnification, use of size and color calibration markers) will help insure image quality, data integrity, and image comparability.
      li
        | Terminology Standards: Considerable variability exists in the application of specific terms to describe anatomic sites, diagnoses, and clinical/dermoscopic/histologic morphology. A lexicon of standardized terminology will facilitate teaching, content based retrieval, and comparison of images.
        ul
          li
            | Metadata: Data elements associated with or embedded in images relate to the subject of the image (e.g., demographics, diagnosis, morphology), technical details (e.g., capture device, settings, etc.) and technique details (e.g., poses, orientation, etc.). Standardized collection and representation of the data elements associated with an image impacts the usefulness and interoperability of the images.
          li
            | Privacy: Patient/subject privacy is a paramount concern in all medical applications. In addition to privacy of the metadata associated with images, the images themselves can contain identifiable elements that risk a breach of privacy. Standards that help to insure maintenance of privacy and appropriate consent for use and sharing of images and their associated metadata are needed.
    h3 THE NEED FOR AN ARCHIVE OF VALIDATED SKIN LESION IMAGES
    p
      | Today, there are innumerable digital images of skin lesions residing on the internet in the public, private, and academic domains. Nonetheless, current efforts in melanoma education and diagnosis typically rely on convenience samples of small numbers of images that vary in annotation, quality, and technique. A large public repository of skin images meeting the standards developed within the ISIC Melanoma Project will serve multiple communities:
    ul
      li
        | Clinicians and educators can use the archive to improve diagnostic skills and provide clinical support in the identification of unusual skin lesions.
      li
        | The general public may use the archive for self-education about melanoma and the benefits of early detection, and
      li
        | Developers of diagnostic tools for skin lesions may develop and test new tools using the standard reference images in the archive.
    h3 ORGANIZATION OF THE ISIC MELANOMA PROJECT
    p
      | The research team assembled for the ISIC Melanoma Project draws upon the melanoma and imaging expertise of the international community of dermatologists interested in standards development for skin imaging modalities. Memorial Sloan Kettering Cancer Center serves as the coordinating center for the project. Several professional societies are engaged in this effort, including the International Dermoscopy Society (IDS) and the International Society for Digital Imaging of the Skin (ISDIS). The IDS has prior experience in conducting successful, internet-based consensus studies. Individual facets of the project are being addressed by Working Groups comprised of Key Opinion Leaders in the field and led by recognized experts. A combined panel of the working group members serves to review and advise on the methods and progress of the individual research teams and the project as a whole.
    br
    .isic-section-text ISIC Implementation
    h3 WORKING GROUPS
    p
      | The project is comprised of two parts: the development of skin imaging standards and the creation of a public archive of annotated/marked-up validated skin lesion images. The many facets of skin lesion imaging standards to be addressed by the project can be grouped into five interactive Working Groups: Technology, Technique, Terminology, Metadata, and Privacy.
    img(src='http://isdis.net/wp-content/uploads/2015/10/ISIC_Melanoma_Project_Implementation.jpg', alt='ISIC Melanoma Project Implementation', width='518', height='279', style='display: block; margin: 0 auto;')
    p
      | Technology: There are a multitude of dermatoscopes, digital cameras, and computerized imaging systems currently in use. Without standards for spatial resolution and color consistency, images acquired with different imaging systems are not directly comparable. Color consistency is likely to be a particular challenge because pigmentation is a major diagnostic feature of melanomas and the skin itself is variably pigmented. Similarly, standards for device-related image processing, image compression, and metadata collection and format will be required. Accordingly, research teams/working groups will address the following issues: a. Minimal spatial and color resolution b. Image security / encryption, and c. Image processing, compression and metadata formats.
    p
      | Technique: Standardization of the techniques used to acquire images of skin lesions and the surrounding skin will be required to maximize the utility of these images for teaching, research, and public education. Techniques relevant to the standardization of individual images of skin lesions include the type of image (contact vs noncontact) and the image magnification. Techniques relevant to the standardization of images acquired during total body photography include specification of body surfaces to be included, standardized poses and a standardized approach to patient privacy in the setting of nudity.
    p
      | Terminology: Standardized terms are needed to describe clinical and pathological characteristics associated with skin lesions as well as the morphological features displayed in photographic or dermoscopic images. There have been some ambitious attempts to develop a formal lexicon of agreed terms for dermatological conditions but the scope of these earlier programs did not permit their completion. The ISIC Melanoma Project will benefit from these prior efforts. Restricting the scope of the lexicon to skin lesions as opposed to rashes etc. should allow timely completion of this set of standards. The terms to be standardized will relate to clinical/pathologic as well as morphologic attributes. Examples of clinical attributes include clinical diagnoses, anatomic site, pathologic diagnoses, symptoms, and risk factors. Examples of morphologic attributes include clinical morphology, dermoscopic morphology, and pathological morphology. The project will benefit from subgroup leaders with established domain expertise.
    p
      | Metadata/DICOM: There is general consensus that the metadata initiative is best advanced using the Digital Image Communication in Medicine (DICOM) standard. DICOM was originally developed for radiology but has since been adopted by many other image producing medical specialties e.g. ophthalmology. Adopting the DICOM framework for metadata involves developing an Information Object Defintion (IOD). An IOD is a specification that documents metatdata elements and logically groups and structures the elements.
    p
      | The metadata group will be informed by the technology and technique groups who will identify requisite metadata items. The metadata group will be responsible for producing a specification. The metadata group will promote membership of the DICOM Working Group for dermatology (WG-19 Dermatology). The metadata group will also perform a market scan to identify existing DICOM implementation in dermatology vendor products.
    h3 STANDARDS DEVELOPMENT METHODOLOGY
    p
      | Each working group will conduct a systematic review of the existing standards for their domain from the medical literature and the relevant standards organizations. It is anticipated that these reviews will be published in appropriate peer-reviewed journals and will serve as the basis for an initial draft of the proposed standard. An internet-based, interactive user interface, housed on this web site, will be used to further develop the proposed standards.
    p
      | Proposed standards will be published on the ISDIS web site. Feedback and suggestions for revision will be actively sought from organizational stakeholders and the international dermoscopy community. Applying Delphi methodology among stakeholders and mapping our results to the standards and terminologies developed by other medical specialty associations, standards -- developers, and government agencies -- we anticipate deriving sets of standards that will be broadly applicable. Many organizations are participating in standards development; a list of some organizations active in this field in the US is shown in the 
      a(href='http://www.healthit.gov/policy-researchers-implementers/meaningful-use-stage-2-0/standards-hub') Standards Hub section of the HealthIT web site
      | .

    