.isic-body-nopad
  .isic-frontpage-container
    .isic-example-button.isic-frontpage-button
      | Example view
    .isic-studies-button.isic-frontpage-button
      | Annotation studies
    if datasetContributor
      .isic-upload-dataset-button.isic-frontpage-button
        | Upload dataset
