.isic-body-nopad
  .isic-frontpage-container
    if datasetContributor
      .isic-button-dataset-upload.isic-frontpage-button
        | Upload dataset
    .isic-button-studies.isic-frontpage-button
      | Annotation studies
    .isic-button-featuresets.isic-frontpage-button
      | Featuresets
