.isic-body-nopad
  .isic-frontpage-container
    .isic-studies-button.isic-frontpage-button
      | Annotation studies
    if datasetContributor
      .isic-upload-dataset-button.isic-frontpage-button
        | Upload dataset
