#galleryContent.flexRow
  .fixedWidth.flexColumn
    #isic-images-datasetPane.pane
    #isic-images-histogramPane.pane
  .growing.flexColumn
    #isic-images-pagingPane.pane.flexRow
      #isic-images-pieChart.flexColumn
      .growing.flexColumn
        #isic-images-pagingTools.flexRow
          #isic-images-seekFirst.button
            img(data-name='seekFirst')
          #isic-images-seekPrev.button
            img(data-name='seekPrev')
          #isic-images-seekNext.button
            img(data-name='seekNext')
          #isic-images-seekLast.button
            img(data-name='seekLast')
          #isic-images-noPagingOrFilters.detailLabel
            | Showing all&nbsp;
            span.page 10
            |  images in the archive.
          #isic-images-hasPaging.detailLabel
            | Showing images&nbsp;
            span.page 0 - 10
            |  of&nbsp;
            span.filteredSet 100
            |  total images.
          #isic-images-hasFilters.detailLabel
            | Showing&nbsp;
            span.filteredSet 100
            |  of the&nbsp;
            span.overview 1000
            |  total number of images in the archive.
          #isic-images-hasFiltersAndPaging.detailLabel
            | Showing images&nbsp;
            span.page 0 - 10
            |  of&nbsp;
            span.filteredSet 100
            |  filtered images. There are&nbsp;
            span.overview 1000
            |  total images in the archive (ignoring filters).
        #isic-images-pagingBars.flexRow
    .growing.flexRow.isic-images-image-container
      #isic-images-imageWall.pane.growing
      #isic-images-imageDetailsPane.fixedWidth.pane
