#galleryContent
  #summaryFilter
    #summary.pane
      .summaryChunk
        #numberImages.bigNumber 12345
        #numeratorDescription selected images out of:
        #totalDenominator.bigNumber 345678
        #totalDenominatorDescription available images
      #buttonChunk.summaryChunk
        #collapseButton.button
        .button Download
      .summaryChunk
        #downloadDescription Download size:
        #downloadSize.bigNumber 32 GB
    ul#filters.pane
  #pageContent
    #description.pane
      #descriptionContent
    #imageSection
      svg#preview
