#galleryContent.flexRow
  .fixedWidth.flexColumn
    #isic-images-studyPane.pane
      p This will contain the overview histogram, summarizing each study
    #isic-images-histogramPane.pane
      p This will contain histograms, allowing users to filter images by metadata.
        These are the possible histograms that will be layered within each other:
      ol
        li Overview histograms, describing the entire dataset
        li Study histograms, describing the selected study
        li Filter histograms, describing the current filtered set of images
        li Page histograms, describing the currently visible images
  .growing.flexColumn
    #isic-images-pagingPane.pane
      #isic-images-seekFirst.button
      #isic-images-seekPrev.button
      #isic-images-pageSizeControl
        label(for='#isic-images-pageSize') Page Size:
        input#isic-images-pageSize(type='number',value='50',max='250',min='1',step='25')
      #isic-images-seekNext.button
      #isic-images-seekLast.button
    .growing.flexRow
      #isic-images-imageWall.pane.growing
      #isic-images-imageDetailsPane.fixedWidth.pane
        .button
            img(src='#{staticRoot}/built/plugins/isic_archive/extra/img/ex.svg')
        p Selected image:
        pre
