.isic-study-users-container
  h4 Users
  .isic-study-users-content
    if study.get('users').length
      - var logins = _.pluck(study.get('users'), 'login')
      = logins.join(', ')
    else
      | (no users)

.isic-study-featureset-container
  h4 Featureset
  .isic-study-featureset-content
    | #{study.get('featureset').name}, version #{study.get('featureset').version}

.isic-study-segmentations-container
  h4 Segmentations
    |  (#{study.get('segmentations').length})
  .isic-study-segmentations-content
    if study.get('segmentations').length
      - var segmentationsIds = _.pluck(study.get('segmentations'), '_id')
      = segmentationsIds.join(', ')
    else
      | (no segmentations)
