.isic-study-users-container
  h4 Users
  .isic-study-users-content
    if users
      if users.length
        - var logins = users.pluck('login')
        = logins.join(', ')
      else
        | (no users)
    else
      i.icon-error (error)

.isic-study-featureset-container
  h4 Featureset
  .isic-study-featureset-content
    if featureset
      | #{featureset.get('name')}, version #{featureset.get('version')}
    else
      i.icon-error (error)

.isic-study-images-container
  h4 Images
    if images
      |  (#{images.length})
  .isic-study-images-content
    if images
      if images.length
        - var imageNames = images.pluck('name')
        = imageNames.join(', ')
      else
        | (no images)
    else
      i.icon-error (error)

.isic-study-segmentations-container
  h4 Segmentations
    if segmentations
      |  (#{segmentations.length})
  .isic-study-segmentations-content
    if segmentations
      if segmentations.length
        - var segmentationsIds = segmentations.pluck('_id')
        = segmentationsIds.join(', ')
      else
        | (no segmentations)
    else
      i.icon-error (error)

