// TODO: Make header appearance consistent; don't abuse 'label' for Image header
// TODO: Allow selecting multiple users
// TODO: Add study details
// TODO: Add image metadata (i.e. number of annotations, raters)
// TODO: Add image thumbnails
// TODO: Improve initial display, before making selections
// TODO: Loading indicators?

.isic-study-results-container

  h2.isic-page-title= title

  // Study container
  .isic-study-results-pad#isic-study-results-select-study-container

  .isic-study-results-flex-row.isic-study-results-main-container

    // Image column
    .isic-study-results-flex-column.isic-study-results-pad
      label Image

      // Image container
      #isic-study-results-select-image-container

    .isic-study-results-flex-column.isic-study-results-flex-grow.isic-study-results-pad

      // User container
      label Users
      #isic-study-results-select-user-container

      // Global/local features tabs
      ul.nav.nav-tabs
        li.active
          a(data-toggle="tab" href='#isic-study-results-global-features-tab-content')#isic-study-results-global-features-tab Global Features
        li
          a(data-toggle="tab" href='#isic-study-results-local-features-tab-content')#isic-study-results-local-features-tab Local Features

      // Content of global/local features tabs
      .tab-content.isic-study-results-pad

        .tab-pane.active#isic-study-results-global-features-tab-content
          #isic-study-results-global-features-container

        .tab-pane#isic-study-results-local-features-tab-content
          #isic-study-results-local-features-container

      // Image container
      .isic-study-results-flex-grow.isic-study-results-image-container

        // Local features image container
        .isic-study-results-flex-grow.hidden#isic-study-results-local-features-image-container

        // Image container
        .isic-study-results-flex-grow#isic-study-results-image-container
