.isic-form-page.isic-study-results-container
  h2.isic-page-title= title

  .isic-form-container
    .isic-form-group.isic-study-results-form-group

      #isic-study-results-select-study-container
      #isic-study-results-select-image-container
      #isic-study-results-select-user-container

    .isic-form-group.isic-study-results-form-group
      #isic-study-results-global-features-container

    .isic-form-group.isic-study-results-form-group
      #isic-study-results-local-features-container

    .isic-form-group.isic-study-results-form-group
      #isic-study-results-image-container
