#isic-app-header-container
#g-app-body-container
#isic-app-footer-container

#g-app-progress-container

#g-dialog-container.modal.fade
#g-alerts-container

.modal.fade#focusmodal
  .modal-dialog
    .modal-content
      .modal-body
        img.focusimage
