.isic-literature
  table
    width 1170px

    thead
      border-style solid
      border-width 2px 0
      tr
        th.isic-literature-column-year
          width 60px
        th.isic-literature-column-type
          width 110px
    tbody
      tr
        &:nth-child(even)
          background-color #eeeeee
        &:nth-child(odd)
          background-color #ffffff
    thead,tbody
      tr
        th,td
          padding 3px 10px
