.isic-list-entry.isic-featureset-list-entry(data-featuresetid=featureset.id)
  .isic-list-entry-col-left.isic-featureset-list-entry-col-left
    .isic-featureset-list-entry-title #{featureset.text}
  .isic-list-entry-col-right.isic-featureset-list-entry-col-right
    a.isic-list-entry-action-remove.isic-featureset-list-entry-action-remove(title="Remove")
      i.icon-cancel
