.isic-featureset-container
  .isic-featureset-table-feature-header
    border none
    padding-top 10px
    font-size 16px

    .isic-featureset-table-feature-name-component
      padding 2px 6px
      background-color #e8f1f5
      border-radius 4px

  .isic-featureset-table-feature-id-key
  .isic-featureset-table-feature-id-value
  .isic-featureset-table-feature-value-label-id
  .isic-featureset-table-feature-value-label-name
    border none

  .isic-featureset-table-feature-value-label-name
    width 100%

  // Nested tables
  .isic-featureset-table-features-table
  .isic-featureset-table-value-table
    margin-bottom 0

  // Add border between features, excluding the last feature
  .isic-featureset-table-features-table
    .isic-featureset-table-features-table-footer
      border-bottom 1px solid #aaa
    tr:last-child
      .isic-featureset-table-features-table-footer
        border-bottom 0
