#galleryContent.flexRow
  #isic-images-facetsPane.fixedWidth.flexColumn
  .growing.flexColumn
    #isic-images-pagingPane.pane.flexRow
    .growing.flexRow.isic-images-image-container
      .isic-images-imageWall.pane.growing
      #isic-images-imageDetailsPane.fixedWidth.pane
