.isic-invitation-confirmation-container
  table
    th
      white-space nowrap
    td
      width 100%
      &.isic-invitation-confirmation-url
        word-break break-all

  .isic-invitation-confirmation-invite-user-container
    text-align center
