.g-config-breadcrumb-container
form#isic-config-form
  .form-group
    label.control-label(for="isic-config-demo-mode") Demo Mode
    p Newly registered users will automatically have full access to all phases.
    input#isic-config-demo-mode.input-sm.form-control(type="checkbox")
  p#isic-config-error-message.g-validation-failed-message
  input.btn.btn-sm.btn-primary(type="submit", value="Save")
