.g-frontpage-header
  img.g-frontpage-logo(src="#{staticRoot}/img/Girder_Mark.png", width="82")
  .g-frontpage-title-container
    .g-frontpage-title ISIC Archive
    .g-frontpage-subtitle The International Skin Imaging Collaboration: Melanoma Project

.g-frontpage-body(style="color: #8A6D3B; background-color: #FCF8E3;")
  p
    i.icon-info
    span.
      The ISIC is now sponsoring a Grand Challenge for the 2016 International
      Symposium on Biomedical Imaging
      (ISBI): #[a(href="http://biomedicalimaging.org/2016/?page_id=422") "Skin Lesion Analysis towards Melanoma Detection"]..
    br
    span(style="margin-left: 19.6px;").
      For more details, or to register and download the
      datasets, #[a(href="https://challenge.kitware.com/#challenge/n/ISBI_2016%3A_Skin_Lesion_Analysis_Towards_Melanoma_Detection") click here].

.g-frontpage-body
  p.g-frontpage-paragraph
    b Welcome to the ISIC Archive.
    br
    if !currentUser
      | To get started annotating images, first
      a.g-register-link  Register
      |  as a new user or
      a.g-login-link  Log In
      |  if you already have an account.
.g-frontpage-body
  h1 International Skin Imaging Collaboration (ISIC): Melanoma Project
  h2 Overview
  p The International Skin Imaging Collaboration: Melanoma Project is an
    |  academia-industry partnership designed to facilitate the application of
    |  digital skin imaging to help reduce melanoma mortality. The current era
    |  of smart-phone mobile technology presents an exciting opportunity for
    |  the application of digital photography as an aid to early diagnosis of
    |  melanoma. However, the promise of digitally assisted melanoma diagnosis
    |  is currently hampered by:
  ol(type='a')
    li A lack of standards for dermatologic imaging, and
    li Limited access of educators and developers to large numbers of
      |  high quality clinically annotated skin lesion images.
  p The ISIC aims to address both of these challenges by proposing
    |  international standards for dermatologic imaging and creating a large
    |  open source public archive of annotated high quality skin images.
  h2 Goals of the ISIC Archive
  p Current efforts in melanoma education and diagnosis typically rely on
    |  small convenience samples of images which vary in both image quality
    |  and quality of annotation. The ISIC archive has been developed to
    |  provide a large public repository of expertly annotated high quality
    |  skin images for use by:
  ul
    li Clinicians and educators to improve diagnostic skills and provide
      | clinical support in the identification of  skin cancer
    li The general public for self-education about melanoma and the benefits
      | of early detection,
    li Developers to develop and test algorithms for skin cancer triage and
      |  diagnosis
  h2 Organization of the ISIC Melanoma Project and Archive
  p The ISIC Melanoma Project draws upon the melanoma and imaging expertise
    |  of the international community of dermatologists and vendors interested
    |  in standards development for skin imaging modalities. Memorial Sloan
    |  Kettering Cancer Center serves as the coordinating center for the
    |  project. Several professional societies are engaged in this effort,
    |  including the International Dermoscopy Society (IDS) and the
    |  International Society for Digital Imaging of the Skin (ISDIS). The
    |  leaders of the collaboration are enumerated on the project’s website
    |  at
    a(href='http://www.isdis.net/index.php/isic-project')  http://www.isdis.net/index.php/isic-project
    | .
  p The open source  ISIC Archive software has been developed and is being
    |  maintained by Kitware, Inc., under the direction of Dr. David Gutman
    |  of Emory University.  IBM is providing image analysis support for the
    |  active learning component of the morphologic annotation and mark-up of
    |  the images in the archive. Images are contributed to the archive by
    |  donor institutions and individuals with assurance of appropriate
    |  permissions and anonymity of the source images as well as assurances
    |  of the quality of the clinical annotations.  Images in the archive are
    |  available for public use under the
    a(href='https://creativecommons.org/about/cc0')  Creative Commons 0 license
    | .
  h2 Annotation and Mark-up of the ISIC Archive images
  p To enhance the usefulness of the ISIC archive images, the individual
    |  lesion images are annotated with clinical (e.g., pathology diagnosis)
    |  and technical (e.g., EXIF header content) attributes. In addition, a
    |  process has been developed to append morphologic annotations to the
    |  images at the lesion level (e.g., symmetry) and at the sub-lesion level
    |  (e.g., the presence of pigment network in a specific region within a
    |  lesion).  The initial focus of the archive and annotations has been on
    |  dermoscopic images- as these are most diagnostic for melanoma. For a
    |  description of dermoscopy please visit the website of the International
    |  Dermoscopy Society at
    a(href='http://www.dermoscopy-ids.org/')  http://www.dermoscopy-ids.org/
  p Crowd sourcing techniques supervised by experts on pigmented lesions are
    |  being developed and used to provide preliminary annotation and mark up
    |  of the numerous images being gathered into the archive. An active
    |  learning approach will be used to refine semi-automated annotation
    |  and mark-up tools under development by IBM. Vendors and developers
    |  are welcome to contribute automated annotation tools for inclusion in
    |  the active learning process.
  img(src='#{staticRoot}/built/plugins/isic_archive/extra/isic-archive-overview-diagram.png')
