.isic-segmentations-display-container
  .isic-segmentations-display-title Segmentations

  select.form-control.input-sm
    option(selected, disabled, value=null)
      | Select...
    each segmentation in segmentations.toArray()
      option(value=segmentation.id) #{segmentation.get('created')} #{segmentation.get('skill')}

  #isic-segmentation-display-container
