.isic-terms-of-use-container
  .isic-terms-of-use-text-container
    height 180px
    overflow auto
    background-color white
    font-size 12px
    padding 5px

  .isic-terms-of-use-link-container
    text-align right
    margin 5px

  .isic-terms-of-use-link
    margin-right 1em

    &:last-child
      margin-right 0
