.isic-header-wrapper
  .isic-icons-wrapper
    a.isic-link-home(title="Home", href="#")
      i.icon-home
      span Home
    a.isic-link-forum(title="Forum", href="#forum")
      i.icon-chat
      span Forum
    if datasetContributor
      a.isic-link-dataset-upload(title="Upload Dataset", href="#uploadDataset")
        i.icon-upload
        span Upload Dataset
    a.isic-link-images(title="Lesion Images", href="#images")
      i.icon-th
      span Lesion Images
    a.isic-link-studies(title="Annotation Studies", href="#studies")
      i.icon-eye
      span Annotation Studies
    a.isic-link-featuresets(title="Featuresets", href="#featuresets")
      i.icon-list
      span Featuresets
    a.isic-link-featuresets(title="Your Tasks", href="#tasks")
      i.icon-check
      span Your Tasks
  .isic-current-user-wrapper
  .g-clear-both
