.g-footer-links
  a#g-contact-link(href="mailto:admin@isic-archive.com") Contact
  a(href="#{apiRoot}") Web API
  a#g-bug-link(href="https://github.com/ImageMarkup/isic-archive/issues/new") Report a bug


.g-footer-info
  | Powered by
  a#g-about-link(href="http://girder.readthedocs.org/en/latest/user-guide.html")  Girder
  br
  | &copy; Kitware, Inc.
