
.isic-footer-info
  ul
    li
      | &copy; Kitware, Inc.
    li
      | Powered by
      a#g-about-link(href="http://girder.readthedocs.org/en/latest/user-guide.html")  Girder

.isic-footer-links
  ul
    li
      a#g-contact-link(href="mailto:admin@isic-archive.com") Contact
    li
      a(href="#{apiRoot}") Web API
    li
      a#g-bug-link(href="https://github.com/ImageMarkup/isic-archive/issues/new") Report a bug
