.isic-footer-info
  ul
    li
      | &copy; Kitware, Inc.
    li
      | Powered by
      a#g-about-link(href="http://girder.readthedocs.org/en/latest/user-guide.html")  Girder

.isic-footer-legal
  ul
    li
      a(href="#termsOfUse") Terms of Use
    li
      a(href="#privacyPolicy") Privacy Policy
    li.isic-footer-disclaimer(data-content="All information on this website is for education and information purposes only. For specific medical advice, diagnoses, and treatment, seek expert, specific medical care. Click the link below to see our Medical Disclaimer in its entirety.")
      a(href="#medicalDisclaimer") Medical Disclaimer

.isic-footer-links
  ul
    li
      a#g-contact-link(href="mailto:admin@isic-archive.com") Contact
    li
      a(href="#{apiRoot}") Web API
    li
      a#g-bug-link(href="https://github.com/ImageMarkup/isic-archive/issues/new") Report a bug
