.isic-header-wrapper
  .isic-icons-wrapper
    a.isic-link-home(title="Home", href="#")
      i.icon-home
    if datasetContributor
      a.isic-link-dataset-upload(title="Upload Dataset", href="#uploadDataset")
        i.icon-upload
    a.isic-link-studies(title="Annotation Studies", href="#studies")
      i.icon-eye
    a.isic-link-featuresets(title="Featuresets", href="#featuresets")
      i.icon-th
  .isic-current-user-wrapper
  .g-clear-both
