<!DOCTYPE html>

<html lang="en" ng-app="DermApp">

<head>
    <meta charset="utf-8">
    <title>ISIC Dermoscopic Annotation Tool</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <meta name="description" content="ISIC Image annotator">
    <meta name="author" content="Rich Stoner, David Gutman">

    <link rel=stylesheet type=text/css href="/uda/static/bower_components/flatstrap/dist/css/bootstrap.min.css">
    <link rel=stylesheet type=text/css href="/uda/static/bower_components/font-awesome/css/font-awesome.min.css">
    <!--<link rel=stylesheet type=text/css href="/uda/static/bower_components/amitava82-angular-multiselect/src/style.css">-->

    <!--[if lt IE 9]>
<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<script src="/uda/static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/uda/static/bower_components/flatstrap/dist/js/bootstrap.min.js"></script>

    <script src="/uda/static/bower_components/angular/angular.min.js"></script>
    <script src="/uda/static/bower_components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.min.js"></script>
    <script src="/uda/static/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/uda/static/bower_components/angular-xml/angular-xml.min.js"></script>
    <script src="/uda/static/bower_components/mousetrap/mousetrap.min.js"></script>

    <script src="/uda/static/bower_components/amitava82-angular-multiselect/src/multiselect-tpls.js"></script>


    <script type="text/javascript" src="/uda/static/js/ol.js"></script>
    <script type="text/javascript" src="/uda/static/js/pf-segmentation.js"></script>
    <script type="text/javascript" src="/uda/static/js/slic-segmentation.js"></script>

    <script type="text/javascript" src="/uda/static/js/segment-filled.js"></script>

    <script type="text/javascript" src="/uda/static/js/dermapp-phase2.js"></script>

    <script type="text/javascript" src="/uda/static/js/dermapp-utils.js"></script>
    <script type="text/javascript" src="/uda/static/js/dermapp-labels.js"></script>
    <script type="text/javascript" src="/uda/static/js/dermapp-viewer.js"></script>

    <script type="text/javascript" src="/uda/static/js/dermapp-variable-map.js"></script>
    <script type="text/javascript" src="/uda/static/js/dermapp-annotationview.js"></script>

    <link rel=stylesheet type=text/css href="/uda/static/css/ol.css" />
    <link rel=stylesheet type=text/css href="/uda/static/css/derm.css" />

    <style>

        #toolContainer {
            /*height: 100%;*/

            height: 600px;
            overflow: scroll;;
        }

        .panel-body {
            background-color: #333;
        }

        .selected {
            weight: 700;
            width: 100%;
            color: #ffcc00;
        }

        .colorhover:hover {
            color: #ffcc00;
        }


    </style>
</head>

<body>

    <div id="angular_id" ng-controller="ApplicationController">

        <div ng-controller="AnnotationView" id="viewContainer">

            <div id="hoverBar">
                <img id="objectinfo" style="display:none;" class="optionimage" src="static/na.jpg"></img>
            </div>


            <div class="col-sm-3" id="toolContainer" ng-controller="AnnotationTool">


                <script type="text/ng-template" id="myModalContent.html" class="modalbase">
                    <div class="modal-body">

                        <div>{{base.title}}</div>
                        <div class="btn-group choiceoption" ng-repeat="opt in base.options">
                            <div class="btn btn-primary" ng-click="selectOption(opt)">
                                {{opt.title}}
                            </div>

                        </div>
                    </div>
                </script>






                <div class="isichead">
                    <div class="isictitle">ISIC Annotation Tool : Exhaustive Annotation</div>

                    <div class="btn-group btn-group-block">
                        <div class="btn">User: {{ user.login }}</div>
                        <div class="btn">{{ phase }}</div>
                    </div>

                    <div class="clearfix"></div>
                </div>


                <div class="clearfix"></div>

                <!-- Step content -->

                <div class="step-header">

                    <div class="btn-group">
                        <div class="btn">Lesion-level</div>
                    </div>
                </div>


                <!-- this is messy, could be refactored but the nested models werent' playing nicely-->
                <div class="step-content">

                     <multiselect class=""
                        ng-model="annotation_model.pattern"
                        ms-header="Pattern"
                        options="c.name for c in annotation_options.lesionlevel[0].questions[0].options"
                        change="selected()" >
                        </multiselect>

                    <div class="btn btn-sm pull-right" ng-show="annotation_model.pattern">√</div>

                    <br>
                     <multiselect class=""
                        ms-header="Organization"
                        ng-model="annotation_model.organization"
                        options="c.name for c in annotation_options.lesionlevel[1].questions[0].options"
                        change="selected()" >
                        </multiselect>
                    <div class="btn btn-sm pull-right" ng-show="annotation_model.organization">√</div>

                    <br>
                     <multiselect class=""
                                  ms-header="Shape Symmetry"
                        ng-model="annotation_model.shapesym"
                        options="c.name for c in annotation_options.lesionlevel[1].questions[1].options"
                        change="selected()" >
                        </multiselect>
                    <div class="btn btn-sm pull-right" ng-show="annotation_model.shapesym">√</div>

                    <br>
                     <multiselect class=""
                                 ms-header="Pattern Symmetry"
                        ng-model="annotation_model.patternsym"
                        options="c.name for c in annotation_options.lesionlevel[1].questions[2].options"
                        change="selected()" >
                        </multiselect>

                    <div class="btn btn-sm pull-right" ng-show="annotation_model.patternsym">√</div>

                </div>

                <div class="step-header">
                    <div class="btn-group">
                        <div class="btn">Regional</div>

                    </div>

                    <div class="btn-group pull-right" ng-hide="showReview">
                        <label class="btn btn-inverse">Confidence</label>
                        <label class="btn" ng-model="certaintyModel" btn-radio="'definite'">100%</label>
                        <label class="btn" ng-model="certaintyModel" btn-radio="'possible'">50%?</label>
                    </div>
                </div>

                <div class="step-content" ng-hide="showReview">
                    <input type="text" class="form-control" ng-model="filterval" placeholder="Filter">
                </div>

                <div class="step-content" ng-show="showReview" ng-cloak>

                    <accordion close-others="false">

                        <accordion-group heading="Color" is-open="true">
                          <div class="colorhover" ng-repeat="question in annotation_options.lesionlevel[3].questions" ng-class="{selected: selected_annotation == this}"  ng-show="hasValidTile(question.id)" ng-mouseover="hoverTiles(question)">
                                <span class="pull-right" ng-show="hasValidTile(question.id)">√</span>{{question.name}}
                          </div>
                        </accordion-group>

                        <accordion-group heading="{{tile.header}}" ng-repeat="tile in annotation_options.tiles" is-open="true">
                            <div class="colorhover" ng-repeat="question in tile.questions" ng-class="{selected: selected_annotation == this}"   ng-show="hasValidTile(question.id)" ng-mouseover="hoverTiles(question)">
                                <span class="pull-right " ng-show="hasValidTile(question.id)">√</span>{{question.name}}
                            </div>
                        </accordion-group>

                        <accordion-group heading="Search" ng-show="filterval.length" is-open="true">

                            <div ng-repeat="tile in annotation_options.tiles">
                                <div class="colorhover" ng-repeat="question in tile.questions" ng-class="{selected: selected_annotation == this}"  ng-show="hasValidTile(question.id)" ng-mouseover="hoverTiles(question)">
                                    <span class="pull-right" ng-show="hasValidTile(question.id)">√</span>{{question.name}}
                                </div>
                            </div>

                        </accordion-group>

                      </accordion>

                </div>

                <div class="step-content" ng-hide="showReview" ng-cloak>

                    <accordion close-others="true">

                        <accordion-group heading="Color" is-open="true">
                          <div ng-repeat="question in annotation_options.lesionlevel[3].questions" ng-class="{selected: selected_annotation == this}" ng-click="selectTileAnnotation(this)">
                                <div ng-show="([question.name] | filter: filterval).length > 0"><span class="pull-right" ng-show="hasValidTile(question.id)">√</span>{{question.name}}</div>
                          </div>
                        </accordion-group>

                        <accordion-group heading="{{tile.header}}" ng-repeat="tile in annotation_options.tiles" ng-show="filterval.length == 0">
                            <div ng-repeat="question in tile.questions" ng-class="{selected: selected_annotation == this}" ng-click="selectTileAnnotation(this)">
                                <div ng-show="([question.name] | filter: filterval).length > 0"><span class="pull-right" ng-show="hasValidTile(question.id)">√</span>{{question.name}}</div>
                            </div>
                        </accordion-group>

                        <accordion-group heading="Search" ng-show="filterval.length" is-open="true">

                            <div ng-repeat="tile in annotation_options.tiles">
                                <div ng-repeat="question in tile.questions" ng-class="{selected: selected_annotation == this}" ng-click="selectTileAnnotation(this)">
                                    <div ng-show="([question.name] | filter: filterval).length > 0"><span class="pull-right" ng-show="hasValidTile(question.id)">√</span>{{question.name}}</div>
                                </div>
                            </div>

                        </accordion-group>

                      </accordion>

                </div>

                <!-- Step footer -->
                <div class="lowertoolbar" ng-show="true" ng-cloak>

                    <div class="btn-group">
                        <div class="btn btn-info" ng-click="resetTiles()" ng-hide="showReview">Reset current</div>
                    </div>

                    <div class="btn-group">
                        <div class="btn btn-success" ng-click="hideReview()"  ng-show="showReview">Continue editing</div>
                    </div>

                    <div class="btn-group pull-right" ng-show="showReview">
                        <div class="btn btn-success" ng-click="submitAnnotations()">Submit</div>
                    </div>

                    <div class="btn-group pull-right">
                        <div class="btn btn-success" ng-click="reviewAnnotations()"  ng-hide="showReview">Review</div>
                    </div>

                </div>
            </div>

            <div class="col-sm-9 nopad">


                <div id="map" class="map" ng-hide="showingSegmentation"></div>

                <div id="annotatorcontainer" ng-show="showingSegmentation"></div>

            </div>


        </div>
    </div>
</body>
</html>
