<!DOCTYPE html>

<html lang="en" ng-app="DermApp">

<head>
    <meta charset="utf-8">
    <title>ISIC Dermoscopic Annotation Tool</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="icon" type="image/png" href="/static/img/Girder_Favicon.png">

    <meta name="description" content="ISIC Image annotator">

    <link rel=stylesheet type=text/css href="/uda/static/bower_components/flatstrap/dist/css/bootstrap.min.css">
    <link rel=stylesheet type=text/css href="/uda/static/bower_components/font-awesome/css/font-awesome.min.css">
    <!--<link rel=stylesheet type=text/css href="/uda/static/bower_components/amitava82-angular-multiselect/src/style.css">-->

    <!--[if lt IE 9]>
<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

    <script src="/uda/static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/uda/static/bower_components/flatstrap/dist/js/bootstrap.min.js"></script>

    <script src="/uda/static/bower_components/angular/angular.min.js"></script>
    <script src="/uda/static/bower_components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.min.js"></script>
    <script src="/uda/static/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/uda/static/bower_components/angular-xml/angular-xml.min.js"></script>
    <script src="/uda/static/bower_components/mousetrap/mousetrap.min.js"></script>

    <script src="/uda/static/bower_components/amitava82-angular-multiselect/src/multiselect-tpls.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.12.1/select.min.js"></script>
    <link rel=stylesheet type=text/css href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.12.1/select.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/js/bootstrap-switch.min.js"></script>
    <link rel=stylesheet type=text/css href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/css/bootstrap3/bootstrap-switch.min.css">
    <script src="https://cdn.rawgit.com/frapontillo/angular-bootstrap-switch/0.4.1/dist/angular-bootstrap-switch.min.js"></script>


    <script type="text/javascript" src="/uda/static/js/ol.js"></script>
    <script type="text/javascript" src="/uda/static/js/pf-segmentation.js"></script>
    <script type="text/javascript" src="/uda/static/js/slic-segmentation.js"></script>

    <script type="text/javascript" src="/uda/static/js/segment-filled.js"></script>

    <script type="text/javascript" src="/uda/static/js/dermapp-phase2.js"></script>

    <script type="text/javascript" src="/uda/static/js/dermapp-utils.js"></script>
    <script type="text/javascript" src="/uda/static/js/dermapp-labels.js"></script>
    <script type="text/javascript" src="/uda/static/js/dermapp-viewer.js"></script>

    <link rel=stylesheet type=text/css href="/uda/static/css/ol.css" />
    <link rel=stylesheet type=text/css href="/uda/static/css/derm.css" />

    <style>
        #toolContainer {
            /*height: 100%;*/
            height: 600px;
            overflow: scroll;;
        }
        .panel-body {
            background-color: #333;
        }
        .selected {
            weight: 700;
            width: 100%;
            color: #ffcc00;
        }
        .colorhover:hover {
            color: #ffcc00;
        }

        .isic-overview-frame {
            position: absolute;
            z-index: 5000;
            top: 5px;
            right: 5px;
            border: 5px solid #282727;
        }

    </style>
</head>
<body>
    <div id="angular_id" ng-controller="ApplicationController">
        <div ng-controller="AnnotationController">
            <div id="hoverBar">
                <img id="objectinfo" style="display:none;" class="optionimage" src="/uda/static/na.jpg" />
            </div>
            <div class="col-sm-3" id="toolContainer">
                <div class="isichead">
                    <div class="isictitle">
                        <span>ISIC Annotation Tool : Exhaustive Annotation</span>
                    </div>
                    <div class="btn-group btn-group-block">
                        <div class="btn" ng-controller="UserController">
                            <span ng-cloak ng-show="user">User: {{ user.firstName}} {{ user.lastName }} ({{ user.login }})</span>
                        </div>
                        <div class="btn">
                            <span>Phase 2</span>
                        </div>
                    </div>
                    <div class="btn">
                        <label for="isic-overview-toggle">Overview Image: </label>
                        <input bs-switch type="checkbox" id="isic-overview-toggle"
                               ng-model="display_overview" switch-size="mini">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>


                <!-- Step content -->

                <div ng-controller="ImageFeatureAnnotationController">
                    <div class="step-header">
                        <div class="btn-group">
                            <div class="btn">Lesion-level</div>
                        </div>
                    </div>
                    <div class="step-content" ng-repeat="feature_group in features">
                        <h4>{{ feature_group.header }}</h4>
                        <div ng-repeat="feature in feature_group.questions">
                            <div ng-switch="feature.type">
                                <div ng-switch-when="select">
                                    <label>{{ feature.name }}</label>
                                    <ui-select
                                            ng-model="annotation_values[feature.shortname]"
                                            search-enabled="false"
                                            on-select="selected($item, $model)"
                                            on-remove="selected($item, $model)"
                                            theme="bootstrap">
                                        <ui-select-match placeholder="{{ feature.name }}">
                                            {{ $select.selected.name }}
                                        </ui-select-match>
                                        <ui-select-choices repeat="option.id as option in feature.options">
                                            <div ng-bind-html="option.name"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <!-- TODO: put this on the same line -->
                                    <div class="btn btn-sm pull-right" ng-show="annotation_values[feature.shortname]">
                                        <span>√</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-controller="RegionFeatureAnnotationController">
                    <div class="step-header">
                        <div class="btn-group">
                            <div class="btn">Regional</div>
                        </div>
                        <div class="btn-group pull-right" ng-hide="showReview">
                            <label class="btn btn-inverse">Confidence</label>
                            <label class="btn" ng-model="certaintyModel" btn-radio="'definite'">100%</label>
                            <label class="btn" ng-model="certaintyModel" btn-radio="'possible'">50%?</label>
                        </div>
                    </div>

                    <div class="step-content" ng-hide="showReview">
                        <input type="text" class="form-control" ng-model="filterval" placeholder="Filter">
                    </div>

                    <div class="step-content" ng-show="showReview" ng-cloak>
                        <accordion close-others="false">
                            <accordion-group heading="{{tile.header}}"
                                             ng-repeat="tile in features"
                                             is-open="true">
                                <div class="colorhover"
                                     ng-repeat="question in tile.questions"
                                     ng-class="{selected: selected_question_id === question.id}"
                                     ng-show="questionHasPositiveTile(question.id)"
                                     ng-mouseover="displayQuestionTiles(question.id)">
                                    <span class="pull-right" ng-show="questionHasPositiveTile(question.id)">√</span>
                                    <span>{{question.name}}</span>
                                </div>
                            </accordion-group>
                            <accordion-group heading="Search"
                                             ng-show="filterval.length"
                                             is-open="true">
                                <div ng-repeat="tile in features">
                                    <div class="colorhover"
                                         ng-repeat="question in tile.questions"
                                         ng-class="{selected: selected_question_id === question.id}"
                                         ng-show="questionHasPositiveTile(question.id)"
                                         ng-mouseover="displayQuestionTiles(question.id)">
                                        <span class="pull-right" ng-show="questionHasPositiveTile(question.id)">√</span>
                                        <span>{{question.name}}</span>
                                    </div>
                                </div>
                            </accordion-group>
                          </accordion>
                    </div>
                    <div class="step-content" ng-hide="showReview" ng-cloak>
                        <accordion close-others="true">
                            <accordion-group heading="{{tile.header}}"
                                             ng-repeat="tile in features"
                                             ng-show="filterval.length == 0">
                                <div ng-repeat="question in tile.questions"
                                     ng-class="{selected: selected_question_id === question.id}"
                                     ng-click="selectQuestion(question.id)">
                                    <div ng-show="([question.name] | filter: filterval).length > 0">
                                        <span class="pull-right" ng-show="questionHasPositiveTile(question.id)">√</span>
                                        <span>{{question.name}}</span>
                                    </div>
                                </div>
                            </accordion-group>
                            <accordion-group heading="Search" ng-show="filterval.length" is-open="true">
                                <div ng-repeat="tile in features">
                                    <div ng-repeat="question in tile.questions"
                                         ng-class="{selected: selected_question_id === question.id}"
                                         ng-click="selectQuestion(question.id)">
                                        <div ng-show="([question.name] | filter: filterval).length > 0">
                                            <span class="pull-right" ng-show="questionHasPositiveTile(question.id)">√</span>
                                            <span>{{question.name}}</span>
                                        </div>
                                    </div>
                                </div>
                            </accordion-group>
                        </accordion>
                    </div>
                </div>






                <!-- Step footer -->
                <div class="lowertoolbar" ng-show="true" ng-cloak>
                    <div class="btn-group">
                        <div class="btn btn-info" ng-click="clearAnnotations()" ng-hide="showReview">Reset current</div>
                    </div>
                    <div class="btn-group">
                        <div class="btn btn-success" ng-click="showReview = false"  ng-show="showReview">Continue editing</div>
                    </div>
                    <div class="btn-group pull-right" ng-show="showReview">
                        <div class="btn btn-success" ng-click="submitAnnotations()">Submit</div>
                    </div>
                    <div class="btn-group pull-right">
                        <div class="btn btn-success" ng-click="showReview = true"  ng-hide="showReview">Review</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-9 nopad">
                <div id="map" class="map" ng-hide="showingSegmentation"></div>
                <div id="annotatorcontainer" ng-show="showingSegmentation"></div>
                <img ng-show="display_overview && overview_image_url" ng-src="{{ overview_image_url }}"
                        class="isic-overview-frame">
            </div>
        </div>
    </div>
</body>
</html>
