<!DOCTYPE html>

<html lang="en" ng-app="DermApp">

<head>
    <meta charset="utf-8">
    <title>ISIC Dermoscopic Annotation Tool</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <meta name="description" content="ISIC Image annotator">
    <meta name="author" content="Rich Stoner, Brian Helba, David Gutman">

    <link rel=stylesheet type=text/css
          href="/uda/static/bower_components/flatstrap/dist/css/bootstrap.min.css">
    <link rel=stylesheet type=text/css href="/uda/static/bower_components/font-awesome/css/font-awesome.min.css">


    <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="/uda/static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/uda/static/bower_components/flatstrap/dist/js/bootstrap.min.js"></script>
    <script src="/uda/static/bower_components/angular/angular.min.js"></script>
    <script src="/uda/static/bower_components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.min.js"></script>
    <script src="/uda/static/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="/uda/static/bower_components/mousetrap/mousetrap.min.js"></script>
    <script src="/uda/static/bower_components/angular-mousetrap/src/keypress.js"></script>
    <script src="/uda/static/bower_components/FileSaver/FileSaver.js"></script>

    <script src="/uda/static/js/task.js"></script>
</head>
<body>
    <div class="container" ng-controller="TaskController">
        <h1 class="row">Task Dashboard</h1>
        <div class="row col-lg-6">
            <div class="panel-group" ng-repeat="phase in task_list track by phase.name">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <span>{{ phase.name }}</span>
                            <span class="badge pull-right">{{ phase.count }}</span>
                        </div>
                        <i>{{ phase.description }}</i>
                    </div>
                    <ul class="list-group">
                        <a class="list-group-item"
                           ng-repeat="dataset in phase.datasets track by dataset.url"
                           href="{{ dataset.url }}">
                            <span class="btn-link">{{ dataset.name }}</span>
                            <span class="badge">{{ dataset.count }}</span>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
