.isic-frontpage
  $highlightColor = #00abff

  *
    font-family 'Open Sans Condensed', sans-serif

  .isic-frontpage-header
    background linear-gradient(to bottom, #fff, #eee)
    background-size 100%
    background-attachment scroll, fixed
    height 91px
    letter-spacing 1px

    h1
      font-size 28px
      font-weight 400
      color $highlightColor

    h2
      font-size 14px
      color #666
      margin-top 10px

  .isic-aboutpage-body
    text-align justify

    h1
      color $highlightColor
      font-weight 200

    h3
      font-size 16px
      font-weight 300
      color $highlightColor

    h4
      font-size 20px
      font-weight 300
      color $highlightColor

    ul
      padding-left 15px
  
  .isic-banner-image
        background-image url('http://isdis.net/wp-content/uploads/2015/09/header.png')
        background-repeat repeat-x
        height 282px
