// TODO refactor with upload dataset
@import 'nib'

.isic-create-study-container
  max-width 770px
  margin auto

  label
    font-weight normal
    margin-top 5px
    margin-bottom 5px
    padding-top 5px

  .isic-form-group
    background-color #f7f7f7
    border-radius 3px
    margin-bottom 10px
    padding 15px
    border 1px solid #d7d7d7

    h3
      border-bottom 1px solid #d7d7d7
      padding-bottom 10px

  .isic-page-title
    color #333
    margin 19px 0 21px 0

  .isic-study-user-list-container
    background-color white
    border-radius 3px
    margin-bottom 10px
    border 1px solid #d7d7d7

  .isic-study-user-list-title
    background-color #ddd
    color black
    padding 3px 10px

  #isic-study-user-list
    max-height 200px
    overflow auto
    background linear-gradient(top, #cacaca 0, white 5px)
    padding 1px 4px

  .isic-user-list-entry
    margin 0px 10px
    padding 5px 0px

  .isic-user-list-entry-col-left
    display inline-block
    vertical-align top
    width 250px
    word-wrap break-word

  .isic-user-list-entry-col-right
    display inline-block
    vertical-align top

    .isic-user-list-entry-action-remove
      color #999
      margin-left 14px
      font-size 16px
      display inline-block
      vertical-align middle

      &:hover
        color #d02344

  .isic-study-user-search-field-container
    margin-top 10px
