.isic-frontpage
  $highlightColor = #005ce6

  *
    font-family 'Open Sans Condensed', sans-serif

  .isic-frontpage-header
    background linear-gradient(to bottom, #fff, #e6f7ff)
    background-size 100%
    background-attachment scroll, fixed
    height 91px
    letter-spacing 1px

    h1
      font-size 28px
      font-weight 400
      color $highlightColor

    h2
      font-size 14px
      color #666
      margin-top 10px

  .isic-frontpage-body
    text-align justify

    h3
      font-size 28px
      font-weight 300
      color $highlightColor

    h4
      font-size 20px
      font-weight 300
      color $highlightColor

    ul
      padding-left 15px
