.isic-frontpage-container
  margin 0
  //text-align center

body 
  margin: 0

.isic-header
  background #FFF
  background linear-gradient(to bottom, #FFFFFF, #EEE)
  width 100%
  height 91px
  margin 0
  background-size 100%
  background-attachment scroll,fixed
  letter-spacing 1px

.isic-site-title
  font-size 28px
  color #00ABFF
  font-family 'Open Sans Condensed', sans-serif
  padding-top 15px
  padding-left 50px
  font-weight 400

.isic-site-desc
  font-size 14px
  color #666
  font-family 'Open Sans Condensed', sans-serif
  padding-left 50px

.isic-banner-menu
  background #00ABFF
  height 48px

.isic-banner-menu-buttons
  ul
    color #FFF
    background #00ABFF
    font-size 20px
    margin 0
    padding-left 40px
    overflow hidden
    position relative
    display block
    list-style none
    height 100%
    &:after
      content ""
      clear both
      display block
  li
    float left
    overflow hidden
    position relative
    display block
    list-style none
    font-size 18pt
    padding-left 10px
    padding-right 10px
    margin-top 10px
    font-family 'Open Sans', sans-serif
    font-weight 100
    text-align center
    letter-spacing -0.5px
    &:hover
      background #0383BF
      margin-top -10px
      padding-top 20px
      height 50px
    a
      display inline-block
      color #f2f2f2
      text-align center
      padding 14px 16px
      text-decoration none
      transition 0.3s
      font-size 17px

.isic-body-items
  margin-top 60px

.isic-gallery
  text-align left
  margin-right 2%
  float right
  width 600px

.isic-frame
  display block
  margin 0
  position absolute
  width inherit
  height 430px
  margin-top 20px
  padding 0

.isic-section-text
  text-align justify
  margin-left 0
  margin-top 0px
  font-size 28px
  color #00ABFF
  font-family 'Open Sans Condensed', sans-serif
  padding-top 0px
  padding-left 0px
  font-weight 300

.isic-intro
  text-align left
  margin-left 50px
  margin-top 0px
  margin-right calc(100% - 580px)
  h2
    text-align left
    margin-left 0
    margin-top 0px
    font-size 20px
    color #00ABFF
    font-family 'Open Sans Condensed', sans-serif
    padding-top 0px
    padding-left 0px
    font-weight 300

.isic-intro-body
  text-align justify
  margin-top 20px
  float left
  font-family 'Open Sans Condensed', sans-serif

.isic-datasets
  margin-top 470px
  width inherit
  margin-right 20px

.isic-datasets-bodyh1
  padding-top 10px
  font-size 20px
  font-family 'Open Sans Condensed', sans-serif

.isic-datasets-bodyh2
  padding-top 24px
  font-size 18px
  font-family 'Open Sans Condensed', sans-serif

.isic-datasets-bodyp
  font-size 14px
  font-family 'Open Sans Condensed', sans-serif

