#galleryContent {
  position: relative;
  width: 100%;
  min-height: 12em;
  height: calc(100vh - 13em);
  overflow: auto;
  display: flex;
}

#studyPane,
#studyTextPane,
#histogramPane,
#imageDetailsPane {
  max-width: 20em;
}

#studyPane {
  background-color: #ffffcc;
}
#studyTextPane {
  background-color: #c7e9b4;
}
#imageWall {
  background-color: #7fcdbb;
  overflow-y: auto;
}
#pagingPane {
  background-color: #41b6c4;
}
#histogramPane {
  background-color: #2c7fb8;
}
#imageDetailsPane {
  background-color: #253494;
}
