#galleryContent {
  position: relative;
  width: 100%;
  min-height: 500px;
  height: calc(100vh - 135px);
  margin: -10px;
}

#galleryContent #pageContent {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  overflow: auto;
}
