content-margin = 20px
.isic-study-users-content
.isic-study-featureset-content
.isic-study-segmentations-content
  margin-left content-margin

.isic-study-users-content
.isic-study-segmentations-content
  max-height 200px
  overflow-y auto

.isic-study-users-content
  ul
    margin-bottom 0px

.isic-study-segmentations-content
  .isic-study-segmentations-content-name
    width 110px
  .isic-study-segmentations-content-segmentationid
    width 210px
  .isic-study-segmentations-content-imageid
    width 210px
