content-margin = 20px
.isic-study-users-content
.isic-study-featureset-content
.isic-study-images-content
.isic-study-segmentations-content
  margin-left content-margin

// For now, hide segmentations
.isic-study-segmentations-container
  display none
