[Unit]
Description=minio
After=network.target

[Service]
User={{ ansible_user_id }}
Group={{ ansible_user_id }}
Restart=always
Environment=MINIO_ACCESS_KEY=accesskey
Environment=MINIO_SECRET_KEY=secretkey
ExecStart=/opt/minio server {{ ansible_user_dir }}/minio-data

[Install]
WantedBy=multi-user.target
