---
extends: default

ignore: |
  node_modules
  ansible/roles/girder.girder/
  ansible/roles/girder.mongodb/
  ansible/roles/large_image/

rules:
  line-length:
    max: 100
    allow-non-breakable-words: true
    allow-non-breakable-inline-mappings: true
