#isic-app-footer-container
  padding-top 5px
  white-space nowrap

  ul
    list-style none
    padding 0

  li
    // Lay out horizontally
    display inline-block

  // Add vertical line separator before list items, except the first
  li + li // @stylint ignore
    &:before
      content "\2502"
      padding 0 0.5em

  // Default section alignment
  .isic-footer-legal
    text-align center
  .isic-footer-links
    text-align right

  // 'sm' grid tier and below section alignment
  @media (max-width: 991px)
    .isic-footer-legal
      text-align left
    .isic-footer-links
      text-align left
