html
  // Always take up the whole page
  position relative
  min-height 100%
  background-color #ffffff
  font-family Roboto

  #isic-app-header-container
    min-height 50px

  #g-app-body-container
    margin 0 0 60px
    min-height 0
    background-color #ffffff
    padding 12px 15px

    &.isic-body-nopad
      padding 0 !important

  #isic-app-footer-container
    position absolute
    bottom 0
    height 60px
    width 100%


