nav.navbar.navbar-default.navbar-fixed-top.isic-header-wrapper
  .container-fluid

    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#isic-navbar-collapse')
        span.sr-only Toggle navigation
        i.icon-bar
        i.icon-bar
        i.icon-bar
      a.navbar-brand.isic-header-title(href='#') ISIC Archive

    #isic-navbar-collapse.collapse.navbar-collapse
      ul.nav.navbar-nav

        li.dropdown
          a.dropdown-toggle.isic-header-item(href='#')
            | About&nbsp;
            span.caret
          ul.dropdown-menu
            li
              a(href='#')
                i.icon-home
                | Home
            li
              a(href='http://isdis.net/isic-project/', target='_blank', rel='noopener')
                i.icon-help
                | ISIC Project
                i.icon-link-ext
            li
              a(href='http://isdis.net/isic-project/working-group-members/', target='_blank', rel='noopener')
                i.icon-users
                | Working Group Members
                i.icon-link-ext
            li
              a(href='#literature')
                i.icon-book
                | Literature
            li.divider
            li.dropdown-header
              | Policies
            li
              a(href='#termsOfUse')
                i.icon-doc-text
                | Terms of Use
            li
              a(href='#privacyPolicy')
                i.icon-doc-text
                | Privacy Policy
            li
              a(href='#medicalDisclaimer')
                i.icon-doc-text
                | Medical Disclaimer

        li.dropdown
          a.dropdown-toggle.isic-header-item(href='#')
            | Community&nbsp;
            span.caret
          ul.dropdown-menu
            li
              a(href='#literature')
                i.icon-book
                | Literature
            //li
            //  a(href='https://forum.isic-archive.com', target='_blank', rel='noopener')
            //    i.icon-chat
            //    | Forum
            //    i.icon-link-ext
            li
              a(href='http://challenge2016.isic-archive.com', target='_blank', rel='noopener')
                i.icon-award
                | 2016 ISIC Challenge
                i.icon-link-ext
            li
              a(href='http://challenge2017.isic-archive.com', target='_blank', rel='noopener')
                i.icon-award
                | 2017 ISIC Challenge
                i.icon-link-ext
            li
              a(href='https://challenge2018.isic-archive.com', target='_blank', rel='noopener')
                i.icon-award
                | 2018 ISIC Challenge
                i.icon-link-ext

        li
          a.isic-header-item(href='#images') Gallery

        li.dropdown
          a.dropdown-toggle.isic-header-item(href='#dataset')
            | Datasets&nbsp;
            span.caret
          ul.dropdown-menu
            li
              a(href='#dataset')
                i.icon-list
                | View Datasets
            li
              a(href='#dataset/upload/image')
                i.icon-upload
                | Upload Image
            li
              a(href='#dataset/upload/batch')
                i.icon-upload
                | Upload Batch

        li.dropdown
          a.dropdown-toggle.isic-header-item(href='#studyResults')
            | Annotation Study Results&nbsp;
            span.caret
          ul.dropdown-menu
            li
              a(href='#studies')
                i.icon-pencil
                | Manage Annotation Studies
            li
              a(href='#studyResults')
                i.icon-eye
                | Annotation Study Results
            li
              a(href='http://dermannotator.org/multirater/', target='_blank', rel='noopener')
                i.icon-eye
                | Compare Annotations (beta)
            if currentUser && currentUser.canAdminStudy()
              li
                a(href='#user/invite')
                  i.icon-mail-alt
                  | Invite New User

        li
          a.isic-header-item(href='#tasks') My Dashboard

      .isic-current-user-wrapper
