.isic-image-details-container
  .isic-image-details-acquisition-metadata-content
  .isic-image-details-clinical-metadata-content
    margin-top 1em
    margin-left 1ex

  dt:after
    content ": "
  dd
    margin-left 2ex

