@import 'nib'

.isic-study-results-select-users-container
  display flex
  flex-flow row wrap

  .isic-study-results-select-users-user-container
    font-size 20px
    padding 10px
    border 1px solid #ddd
    border-radius 10px
    margin 5px
    cursor pointer
    color #444
    user-select none

    &:hover
      background-color #e7e7e7

    &.active
      background-color #d3f4ff
