.isic-study-results-select-study-container
  display flex
  align-items baseline
  margin-right 20px
  margin-bottom 10px

  label
    padding-right 5px

  select
    width 450px
    margin-right 5px
