@import 'nib'

// Image container
.isic-study-results-select-image-container

  // Individual image
  .isic-study-results-select-image-image-container
    font-size 20px
    padding 5px 0px
    border-bottom 1px solid #ddd
    cursor pointer
    user-select none
    color #444

    &:hover
      background-color #e7e7e7

    &.active
      background-color #d3f4ff
