.isic-study-results-local-features-content
  display flex

  &>span
    margin-left 20px

  .isic-study-results-local-features-legend
    margin-top 10px

    &>div
      display inline
      margin-left 20px

    .isic-study-results-local-features-legend-possible
      i
        color #fafa00

    .isic-study-results-local-features-legend-definite
      i
        color #0000ff

#isic-study-results-local-features-image-container
  margin-top 5px

#isic-study-results-select-local-feature-container
  flex 1
