.isic-study-results-global-features-content
  margin 0px 20px

.isic-study-results-global-features-table
  width 100%

  tbody
    .isic-study-results-annotation-feature-id
      width 30%
      &.disabled
        color #aaa
    .isic-study-results-annotation-feature-value
      width 70%
