.isic-upload-dataset-license-info-container
  width 60%

  .modal-body
    max-height 80vh
    overflow-y auto

    .alert
      display flex
      .isic-upload-dataset-license-info-alert-icon
        font-size 30px
      .isic-upload-dataset-license-info-alert-content
        flex 1
        font-size 16px
        margin-left 5px

    .isic-upload-dataset-license-info-title:first-child
      margin-top 0px

    .isic-upload-dataset-license-info-title
      margin-top 25px
