.isic-upload-dataset-license-info-container
  width 60%

  .modal-body
    max-height 80vh
    overflow-y auto

    .isic-upload-dataset-license-info-title:first-child
      margin-top 0px

    .isic-upload-dataset-license-info-title
      margin-top 25px
