CELERY_BIN="{{ celery_bin }}"
CELERY_APP="isic_archive_tasks"

CELERYBEAT_OPTS=""

CELERYBEAT_SCHEDULE_FILE="/var/run/celery/celerybeat.schedule"

CELERYBEAT_PID_FILE="/var/run/celery/celerybeat.pid"
CELERYBEAT_LOG_FILE="/var/log/celery/celerybeat.log"
CELERYBEAT_LOG_LEVEL="INFO"
