.isic-settings-form
  margin-top 10px

.isic-form-page
  max-width 770px
  margin auto

  label
    font-weight normal
    margin-top 5px
    margin-bottom 5px
    padding-top 5px

.isic-form-container
  border-radius 3px
  margin-bottom 10px
  padding 10px

  :first-child
    margin-top 0
  :last-child
    margin-bottom 0

.isic-form-group
  background-color #f7f7f7
  border-radius 3px
  margin-bottom 10px
  padding 15px
  border 1px solid #d7d7d7

  h3
    border-bottom 1px solid #d7d7d7
    padding-bottom 10px

.isic-page-title
  color #333
  margin 19px 0 21px 0

// This is done to avoid triggering mouse events on an underlying element when
// tooltips appear/disappear under the mouse cursor.
.tooltip
  pointer-events none


// Upload widget

.isic-upload-description-container
  margin-top 10px

.isic-upload-container
  margin 5px 0px
  h4
    font-size 14px
    font-weight bold
    font-color #eee

  .g-drop-zone
    width 100%
    text-align center
    height 60px
    line-height 60px
    box-shadow 0 2px 5px rgba(0,0,0,0.2)
    background-color #5cb897
    border 1px solid #4a8
    height 30px
    line-height 100%
    padding 7px 22px 5px 17px
    font-size 14px
    font-weight normal

    &:hover
      background-color #6cc8a7
      background linear-gradient(top,#6cc8a7 50%,#5cb897 100%)

    &:active
      background #6cc8a7
      box-shadow inset 0 3px 5px rgba(0,0,0,0.125);

    &.g-dropzone-show
      background white
      border 2px dashed #bbb
      box-shadow none
      padding 0

.isic-upload-widget-container
  padding 10px 0px
  text-align left
  display inline-block
  max-width 370px

  .g-dialog-subtitle
    display none

.isic-upload-reset-container
  padding 10px 0px

.isic-upload-list
  padding-bottom 10px

// End upload widget
