[Unit]
Description=Celery Service
After=network.target

[Service]
Type=simple
User={{ ansible_user_id }}
Group={{ ansible_user_id }}
EnvironmentFile=/etc/conf.d/celery
Environment=DOTENV_PATH=/home/{{ celery_user }}/.env
ExecStart=/bin/sh -c '{{ celery_bin }} worker \
  --app isic_archive.celery \
  --loglevel info'
# Only SIGTERM the main process
KillMode=mixed
TimeoutStopSec=90s

[Install]
WantedBy=multi-user.target
