[Unit]
Description=Celery Beat Service
After=network.target

[Service]
Type=simple
User={{ ansible_user_id }}
Group={{ ansible_user_id }}
EnvironmentFile=/etc/conf.d/celerybeat
Environment=DOTENV_PATH=/home/{{ celery_user }}/.env
ExecStart=/bin/sh -c '{{ celery_bin }} beat \
  --app isic_archive.celery \
  --schedule /var/run/celery/celerybeat.schedule \
  --loglevel info'

[Install]
WantedBy=multi-user.target
