[Unit]
Description=Celery Flower Service
After=network.target

[Service]
Type=simple
User={{ ansible_user_id }}
Group={{ ansible_user_id }}
ExecStart=/bin/sh -c '{{ celery_bin }} flower \
  --app isic_archive.celery'

[Install]
WantedBy=multi-user.target
