.isic-page {
    height: 100vh;
}

.isic-map {
    height: 100%;

    padding: 0px;
}

.isic-pane {
    height: 100%;
    overflow-y: auto;

    padding: 0px;

    color: #fff;
    background: black;
    background-repeat: repeat;
}


.isic-annotation {
    /* "global" or "local" feature */
}

.isic-annotation-header {
    background: #282727;
    color: #fff;

    padding: 10px 6px 6px 10px;
    border-bottom: 1px solid #333;
}

.isic-annotation-body {
    padding: 0px 5px;
}

.isic-annotation-body-help {
    margin-bottom: 0;
}

.isic-annotation-body-help > i {
    vertical-align: top;
}

.isic-annotation-body-help > span {
    display: inline-block;
}

.isic-annotation-question-option {
    font-weight: 300;
}
.isic-annotation-question-option.selected {
    font-weight: 700;
    color: #ffcc00;
}

.isic-annotation-section {
    margin: 0;
    padding: 5px;
}

.isic-annotation-features-local {
    display: block;
}

.isic-annotation-radio-btn {
    color: #ffffff;
    background-color: #333333;
}

.isic-annotation-radio-btn:focus {
    color: #ffffff;
    background-color: #333333;
}

.isic-annotation-radio-btn:hover {
    background-color: #f2b866;
}

.isic-annotation-radio-btn.active {
    background-color: #f0ad4e;
}

.isic-annotation-features-local-activate {
    width: 80%;

    text-align: left;
    white-space: normal;
}

.isic-annotation-features-local-delete {
    color: #ffffff;
    background-color: #99190d;
}

.isic-annotation-features-local-delete:hover {
    background-color: #f05c4e;
}
